
.postPicCarouselNews .specLeftRight .specPictureRoll{
  /* height:800px; */
  /* background-color: #000000cc; */
  overflow: hidden;
  width:45vw;
  height: 90vh;
  position: relative;

}

.postPicCarouselNews .specLeftRight .specPictureRoll img{
  object-fit: cover;
  width:100%;
  height:100%;
}
.postPicCarouselNews .specLeftRight .specPictureRoll .specImages{
  position: relative;

  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.postPicCarouselNews .specLeftRight{
  /* display: flex; */
  position: relative;
  width:100%;
  height: 90vh;
}

.postPicCarouselNews .specLeftRight .newsFeedArrowLeft {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 0%;
  font-size: 45px;
}
.postPicCarouselNews .specLeftRight .newsFeedArrowRight {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  right:0%;
  /* right: 100%; */
  /* background:red; */
  z-index: 10;
  font-size: 45px;
}

.imageContainer{
  position: relative;
  left: 50%;
  transform: translateX(-50%) ;

  width:100%;
  /* max-height: 90vh; */
  height: 90vh;
  overflow: hidden;
  background-size: cover;
  font-size: 30px;


}
.backgroundImageNews{
  position: relative;

  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
}

.testMiddle{
  position: absolute;
  width: 100%;
  height:90vh;
  left: 50%;
  transform:translateX(-50%);
  object-fit: cover;

}

.carouselImageContainer{
  overflow: hidden;
  position: relative;
  height: 95vh;
}














/* image of carousel */
/* . img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} */
