/* This will be the settings for the settings */
.settingsBackGround{
  background-color: white;
  display: flex;
  position: relative;
  width: 96vw;
  height: 93vh;
  top: 7%;
}

.settingsBackGround .sideMenu{
  position: relative;
  width: 15%;
  height: 100%;
  border-right: 1px solid lightblue;
}

.sideMenuMenu{
  position: relative;
  width: 100%;
  background-color: white;
}

.userInfoSettingsForm{
  position: relative;
  width: 75%;
  left: 2%;
  top: 2%;
}

.settingsTextField{
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.settingsTextField .settingText{
  margin-bottom: 5px;
}

.settingsBackGround .rightInfo{
  width: 85%;
}


.acceptPublicButtons{
  display: flex;
}
