option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    PYTHONPATH: /opt/python/current/app/core:$PYTHONPATH

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5002:
    ListenerEnabled: 'true'
    Protocol: HTTP


container_commands:
  01wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'


files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /ws/ ws://127.0.0.1:5002/ws/
      ProxyPassReverse /ws/ ws://127.0.0.1:5002/ws/
      #Uncomment below for Option 3
      #ProxyPass / http://127.0.0.1:5000/
      #ProxyPassReverse / http://127.0.0.1:5000/
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/uninstall_enum34.sh":
     mode: "000755"
     owner: root
     group: root
     content: |
       rm -f -r /opt/python/run/venv/lib/python3.6/site-packages/enum && rm -f -r /opt/python/run/venv/lib/python3.6/site-packages/enum34-1.1.10.dist-info
