option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core/wsgi.py

  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP


container_commands:
  01migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
