.profileCard-NF{
  background-color: white;
  width: 200px;
  height: 260px;
  z-index: 1;
  border-radius: 10px;
  display: grid;
  /* grid-template-rows: auto 100px; */
  /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  position: fixed;
  /* position: relative; */
  /* left: 7%; */
  overflow: hidden;
  /* float: right; */
  margin-left: 1%;
  /* left: calc(1500px -1000px); */
  /* left: 100px; */
  padding:10px;
  box-shadow:  0 10px 50px rgba(0, 0, 0, 0.12);

}

@media screen and (max-width: 1000px){
  .profileCard-NF{
    display: None;
  }
}

.clickable{
  cursor: pointer;
}

.image-box-NF{
  width: 50%;
  position: relative;
  text-align: center;
  /* overflow:hidden; */
  /* background-color: red; */
}

.profile-image-NF {
  position: absolute;
  /* width: 320px; */
  height: 146%;
  left: 40%;
  bottom: 0%;
  transform: translateX(-50%);
}

.default-profile-image-NF{
  position: absolute;
  /* width: 320px; */
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.morePeopleBox{
  border-radius: 10px;
  box-shadow:

  0 10px 50px rgba(0, 0, 0, 0.12);
}


.bottom-NF {
  position: absolute;
  bottom: 20%;
  display: grid;
  grid-template-rows: auto 30px;
  justify-content: center;
  right: 0%;
  width: 300px;
  color: #363636;
  /* background-color: red; */
}
.statHover{
  background: red;
}
.statHover:hover{

  background: blue;
  border-radius: 20px;
}


.top-NF{
  position: absolute;
  color: grey;
  font-size: 30px;
  /* background-color: red; */
  left: 87%;
}


.statsHeader{
  font-weight: 450;
  color:black;
  font-size: 15px;
  cursor: pointer;
}


.name-NF {
  /* position: absolute; */
  color:black;
  left:50%;
  position:relative;
  /* background-color: red; */
  font-weight: 550;
  /* font-weight: bold; */
  font-size: 20px;
  line-height: 26px;
  z-index: 1;
}


.statsNewsFeed{
  font-weight: 650;
  position: relative;
  left:175%;
  color:#40a9ff;
  font-size: 14px;
}




/* .profileCard-NF:hover .bottom-NF{
  transform: translateY(-160px);
  transition: 0.5s;
}

.profileCard-NF:hover .social-NF{
  transform: translateY(-100%);
  transition: 0.5s;
} */
