.firstTimeUserContainer{
    height:525px;
    padding-left:25px;
    padding-right:25px;
}
.firstTimeIntroPic{
  position: relative;
  width:85%;

  left:50%;
  transform: translate(-50%);
}

.suggestedPeopleIntro{
  display: flex;
  flex-direction: row;
}

.noFollowerText{
  font-size: 20px;
  font-family: "Segoe UI Regular";
  font-weight: 400;
  width:75%;
}

.bluenewUpdateButtonContainer{
  width: 40vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(105, 192, 255, 1);
}

/* CSS test for the post buttons */
.newUpdateButtonContainer{
  width: 40vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background: white;
}

.upperTopContainer{
  height: 75px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  /* background: blue; */
}

.upperTopRightContainer{
  width: 90%;
  height: 95%;
  position: relative;
  top:15%;
  /* background: red; */
  /* background-color: whitesmoke; */

}


.writeAPostText{
  color: gray;
  background: #f0f0f0;

  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  padding:7px;
  margin-left: 10px;
  width:95%;
  /* top: 50%; */
  position: relative;
  /* transform:translateY(-50%); */
}
.writeAPostText:hover{
  background: #d9d9d9;
}


.newUpdateDayContainer{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;

}
.newBottomButtonHolder{
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.newButtonCard{
  position: relative;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-weight: 400;
}

.newButtonCard:hover{
  background-color: whitesmoke;
}

.textCenter{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}



.upperTopCard{
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.upperTopLeftContainer{
  width: 10%;
  /* background: red; */
  position: relative;
}
.avatarHolder{
  position: relative;
  left: 75%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}


.upperBottomContainer{
  height: 65px;
  cursor: pointer;

  /* display: none; */
}
.upperBottomContainer.undisplayMid{
  display: none;
}


.newPictureHolder{
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  width: 80%;
  /* background-color: red; */
  left: 3%;
}
.miniPics{
  background-color: black;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.miniPics img{

  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.circlePlus{
  margin-left: 10px;
  font-size: 35px;
  margin-right: 10px;
}



.newsfeedParentParenet{
  width: 100%;
  height: 100%;
  position: relative;
  /* left: 7%; */
  top: 75px;
}

.newsfeedParent{
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.newsfeedParent .profileCardContainer{
  /* background-color: red; */
  width: 18%;
}


.newsfeedParent .newsfeedMidContainer{
  padding-right: 100px;
  width: 52%;
  position: relative;
  /* background: red; */
  margin-top: -15px;
  /* text-align: center; */
  /* align-items: center; */
}

.newsfeedParent .newsfeedMidContainer .newsfeedItself{
  position: relative;
  width: 100%;
  left: 14%;
  /* left: 40%; */
  /* transform: translateX(-50%); */
  /* background-color: green; */
}

.newsfeedActionButtons{
  display:  flex;
  flex-direction: row;
  /* background-color: red;. */
  position: relative;
  /* flex-wrap: wrap; */
  width: 45vw;
  gap: 2%;
}


.newsfeedParent .newsfeedMidContainer .newsfeedItself .newsfeedActionButtons .topCard {

  position: relative;
  cursor: pointer;
  background: #FFFFFF;
  padding:27.5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  width:100%;
  /* background-color: red; */

}

 .writePostCard {
  position: relative;
  cursor: pointer;
  background: #FFFFFF;
  width:120%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  height: 100%;
  flex-direction: row;
  position: relative;
}

.writePostCardLeftPart{
  position: relative;
  width:25%;
  background: #1890ff;
}

.writePostCardRightPart{
  position: relative;
  width:75%;
  /* background: black; */
  padding:27.5px;

}

.writePostCardAlign{
  position: absolute;
  top: 50%;

  font-size: 16px;
  transform: translateY(-50%);
}

.cardAlign{
  position: absolute;
  top: 50%;
  left:42%;
  font-size: 16px;
  transform: translateY(-50%);
}

/* .topCard {
  position: relative;
  cursor: pointer;
  background: #FFFFFF;
  padding:30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
} */


@media screen and (max-width:900px){
  .suggestedFriendsContainer {
    display:none;
  }
}
.newsfeedParent .suggestedFriendsContainer{
  /* background-color: red; */
  position: relative;
  left:5.25%;
  width: 23%;

}

.newsfeedParent .suggestedFriendsContainer .suggestedFriendsCard {
  width:100%;
  background:white;
  position: relative;
  border-radius: 10px;
}


.firstTimeModalText{
  font-family: "Segoe UI Regular";
  font-size: 15px;
  color:black;
}


.intro{
  font-weight: 400;
}









.postModalMain{
  max-height: 575px;
}
.specialcardAlign{

  font-size: 16px;

}


.shadowBox{
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}



.share{
  position: absolute;
  top: 35%;
  left:20%;
}



/* .share{

  width:60px;
  height:60px;
  background:#ff9100;
  position: absolute;

  top: 15%;
  left:5%;

  z-index:999;
  text-align:center;
  overflow:hidden;
  line-height:65px;
  font-size:1.5em;
  color:#fff;
  -moz-box-shadow: 0px 3px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;

} */



.circle {
  background: #456BD9;
  border-radius: 50%;
  color: #fff;
  height: 5em;
  position: relative;
  width: 5em;
}

.circle-icon {
  fill: currentColor;
  height: 50%;
  left: 50%;
  position: absolute;
  stroke: currentColor;
  stroke-width: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
/*
.wrap {
  position: relative;
  margin: 10em auto 30em;
  max-width: 960px;
  overscroll-behavior: contain;
} */



.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}
.personName {
  color: rgb(20, 24, 35);
  font-size: 14px;
  font-weight: normal;
  height: 19px;
  line-height: 19.3199996948242px;
  margin-left: 15px;
  overflow-x: hidden;
  overflow-y: hidden;


  padding-top: 0px;
  text-align: left;
  width: 86px;
}
.fb-group-date {
  color: rgb(145, 151, 163);

  font-size: 14px;
  font-weight: normal;
  height: auto;
  line-height: 16.0799999237061px;


  width: auto;

}


.topCardHeader{
  font-weight: 400;
}


.morePeopleHeader{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  height:75px;
  /* background-color: red; */
  padding-top: 10px;
  max-height: 400px;
  font-weight: 400;
  color:black;

  /* color:#1890ff; */

}


.usertext {
  color: rgb(20, 24, 35);

  font-size: 15px;
  font-weight: normal;
  height: auto;
  line-height: 19.3199996948242px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 50px;
  text-align: left;
  width: auto;
  word-wrap: break-word;

}


.newsfeed {
  margin-left: 10px;
  minHeight: 0px;
  /* overflow:auto; */
  /* background-color: red; */
}


.suggestFriendsCSS {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  width: 200px;
  height: 150px;
}


.createEventCSS{
  border-radius: 25px;

  height: '500px';
  width: '300px';
  position: 'relative';
  right:'100px';
}


.newsFeedModalEventCardWrite{
  position: relative;
  overflow: hidden;

  background: white;
  line-height: 150%;
  border-radius: 15px;
  padding:40px;
  box-shadow:  0 10px 50px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI Regular';
  width:50%;

  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}


/* Write a post modal start */
.WritePostNameContainer{
  position: absolute;
  width:25%;
  height: 75px;
  /* background-color: red; */
  top:30%;
}
