.eventListTabContainer{
  position: relative;
  background-color: white;
  width: 100%;
  align-items: center;
}

.eventListTabContainer .eventListContainer{
  /* background-color: red; */
  /* overflow: auto; */
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* height: 1000px; */
}

.eventListTabContainer .eventListContainer .eventContainer{
  background-color: white;
  height: 150px;
  margin: 12px;
  border-radius: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}


.eventListTabContainer .eventListContainer .eventContainer{

}
