.eventListTabContainer{
  position: relative;
  background-color: white;
  width: 100%;
  align-items: center;
}

.eventListTabContainer .eventListContainer{
  /* overflow: auto; */
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* height: 1000px; */
}
@media screen and (max-width: 1300px){
  .eventListTabContainer .eventListContainer{
    width: 100%;
  }
}

.eventListTabContainer .eventListContainer .eventContainer{
  position: relative;
  background-color: white;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.eventListTabContainer .eventListContainer .eventContainer:hover{
  transform: scale(1.05);
}
.eventListTabContainer .eventListContainer .eventContainer.active{
  /* opacity: 0.5; */
}

.eventContainer .eventContainerFirst{
  width: 18%;
}
.eventContainer .eventContainerSecond{
  width: 62%;
}
.eventContainer .eventContainerThird{
  width: 20%;
}



.eventContainer .eventContainerFirst .noPicBox{
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px dashed gainsboro;
  font-size: 40px;
  color: grey;
}
.eventContainer .eventContainerFirst .noPicBox .inContainer{
  text-align: center;
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.eventContainer .eventContainerFirst .noPicBox .inContainer .noPicWords{
  font-size: 20px;
  margin: 0;
}
.eventContainer .eventContainerFirst .picBox{
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 10px dashed gainsboro; */
  font-size: 40px;
  color: grey;
  overflow: hidden;
}
.eventContainer .eventContainerFirst .picBox .picBoxPic{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/* title and info here */
.eventContainerSecond .secondContainerFirst{
  position: relative;
  padding-left: 10px;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerSecond{
  position: relative;
  padding-left: 10px;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerThird{
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerFourth{
  position: relative;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerFirst .eventBoxTitle{
   color: black;
   position: relative;
   font-size:40px;

}

.eventContainerSecond .secondContainerFirst .tabSect{
  height: 100%;
  width: 10%;
}
 .eventContainerSecond .secondContainerFirst .tabSect .endTag{
  position: relative;
  color:red;
  background-color: #F5F5F5;
  width: 80%;
  height: 30%;
  border-radius: 5px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


}

.eventContainerSecond .secondContainerSecond .locationHolder{
  display: flex;
  flex-direction: row;
  height: 100%;
}


.eventContainerSecond .secondContainerSecond .locationHolder .locationPin{
  /* color: red; */
  position: relative;
  color: black;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);

}
.eventContainerSecond .secondContainerSecond .locationHolder .eventLocation{
  position: relative;
  color: black;
  font-size: 15px;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.eventContainerSecond .secondContainerThird .firstHalf{
  position: relative;
  width: 50%;
  padding-left: 10px;

}

.eventContainerSecond .secondContainerThird .secondHalf{
  position: relative;
  width: 50%;
}



.eventContainerSecond .secondContainerThird .firstHalf .eventBoxDay{

  /* color: red; */
  position: relative;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.eventContainerSecond .secondContainerThird .firstHalf .eventBoxDay .calendarIcon{
  position: relative;
  color: black;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);

}
.eventContainerSecond .secondContainerThird .firstHalf .eventBoxDay .dateInfo{
  position: relative;
  color: black;
  font-size: 15px;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.eventContainerSecond .secondContainerThird .secondHalf .eventBoxHost{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.eventContainerSecond .secondContainerThird .secondHalf .eventBoxHost .hostText{
  position: relative;
  color: black;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hostNameAva{
  position: relative;
  color: black;
  font-size: 15px;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  margin-left: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.eventContainerSecond .secondContainerThird .secondHalf .eventBoxHost .hostNameAva .hostAvatar{
  font-size: 100%;
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.eventContainerSecond .secondContainerThird .secondHalf .eventBoxHost .hostNameAva .hostName{
  margin-left: 3px;
  color: black;
}


.eventContainerSecond .secondContainerFourth .firstHalf{
  width: 50%;
  padding-left: 10px;
}
.eventContainerSecond .secondContainerFourth .secondHalf{
  position: relative;
  width: 50%;
}


.eventContainerSecond .secondContainerFourth .firstHalf .eventBoxTimes{
  position: relative;
  height: 100%;
  color: black;
  display: flex;
}
.eventContainerSecond .secondContainerFourth .firstHalf .eventBoxTimes .eventClock{
  position: relative;
  color: black;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.eventContainerSecond .secondContainerFourth .firstHalf .eventBoxTimes .eventTime{
  position: relative;
  color: black;
  font-size: 15px;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
  margin-left: 5px;
}




.eventContainerSecond .secondContainerFourth .secondHalf .eventBoxParticipant{
  position: relative;
  color: black;
  display: flex;
  flex-direction: row
}


.eventContainerSecond .secondContainerFourth .secondHalf .eventBoxParticipant .participants{
  position: relative;
  color: black;
  font-size: 20px;
  top: 50%;
}
.eventContainerSecond .secondContainerFourth .secondHalf .eventBoxParticipant .likeList{
  /* background-color: red; */
  position: relative;
  margin-left: 3px;
}



/* For the buttons */

.eventContainerThird .buttonRightHolder{
  position: relative;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.eventContainerThird .buttonJustViewHolder{
  position: relative;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}



.eventContainerThird .buttonRightHolder .topHalf{
  position: relative;
  height: 50%;
}

.eventContainerThird .buttonRightHolder .bottomHalf{
  position: relative;
  height: 50%;
}


.eventContainerThird .buttonRightHolder .topHalf .joinButton{
  cursor: pointer;
  height: 75%;
  width: 85%;
  position: relative;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 27px;
  color: white;
  background-color: limegreen;
  text-align: center;
  /* padding-top: 30%; */
}

.eventContainerThird .buttonRightHolder .topHalf .joinButton .joinText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);}

.eventContainerThird .buttonRightHolder .bottomHalf .viewButton{
  height: 75%;
  width: 85%;
  position: relative;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  text-align: center;

  /* padding-top: 30%; */
}


.eventContainerThird .buttonRightHolder .viewButton .viewText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.eventContainerThird .buttonJustViewHolder .viewButtonPass{
  height: 37.5%;
  width: 85%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  text-align: center;
}
.eventContainerThird .buttonJustViewHolder .viewButtonPass .viewText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.eventContainerThird .buttonRightHolder .topHalf .hostButton{
  height: 75%;
  width: 85%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  text-align: center;

}
.eventContainerThird .buttonRightHolder .topHalf .hostButton .hostText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
