.eventListTabContainer{
  position: relative;
  background-color: white;
  width: 100%;
  align-items: center;
}

.eventListTabContainer .eventListContainer{
  background-color: red;
  /* overflow: auto; */
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  /* height: 1000px; */
}
@media screen and (max-width: 1000px){
  .eventListTabContainer .eventListContainer{
    width: 100%;
  }
}

.eventListTabContainer .eventListContainer .eventContainer{
  position: relative;
  background-color: white;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.eventListTabContainer .eventListContainer .eventContainer.active{
  /* opacity: 0.5; */
}

.eventContainer .eventContainerFirst{
  width: 18%;
}
.eventContainer .eventContainerSecond{
  width: 62%;
}
.eventContainer .eventContainerThird{
  background-color: green;
  width: 20%;
}



.eventContainer .eventContainerFirst .noPicBox{
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px dashed gainsboro;
  font-size: 40px;
  color: grey;
}
.eventContainer .eventContainerFirst .noPicBox .inContainer{
  text-align: center;
  width: 100%;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.eventContainer .eventContainerFirst .noPicBox .inContainer .noPicWords{
  font-size: 20px;
  margin: 0;
}
.eventContainer .eventContainerFirst .picBox{
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 10px dashed gainsboro; */
  font-size: 40px;
  color: grey;
  overflow: hidden;
}
.eventContainer .eventContainerFirst .picBox .picBoxPic{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/* title and info here */
.eventContainerSecond .secondContainerFirst{
  position: relative;
  padding-left: 10px;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerSecond{
  position: relative;
  padding-left: 10px;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerThird{
  position: relative;
  background-color: green;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.eventContainerSecond .secondContainerFourth{
  background-color: orange;
  height: 20%;
}

.eventContainerSecond .secondContainerFirst .eventBoxTitle{
   /* color: red; */
   position: relative;
   font-size:40px;

}

.eventContainerSecond .secondContainerFirst .tabSect{
  height: 100%;
  width: 10%;
}
 .eventContainerSecond .secondContainerFirst .tabSect .endTag{
  position: relative;
  color:red;
  background-color: #F5F5F5;
  width: 80%;
  height: 30%;
  border-radius: 5px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


}

.eventContainerSecond .secondContainerSecond .locationHolder{
  display: flex;
  flex-direction: row;
  height: 100%;
}


.eventContainerSecond .secondContainerSecond .locationHolder .locationPin{
  /* color: red; */
  position: relative;
  color: gray;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);

}
.eventContainerSecond .secondContainerSecond .locationHolder .eventLocation{
  position: relative;
  color: gray;
  font-size: 15px;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.eventContainerSecond .secondContainerThird .firstHalf{
  background-color: red;
  position: relative;
  width: 50%;

}

.eventContainerSecond .secondContainerThird .secondHalf{
  background-color: blue;
  position: relative;
  width: 50%;
}



.eventContainerSecond .secondContainerThird .firstHalf .eventBoxDay{

  /* color: red; */
  position: relative;
  color: gray;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.eventContainer .eventBoxTimes{
  /* color: red; */
  position: absolute;
  left: 19%;
  top: 75%;
  font-size: 20px;
  color: gray;
  /* display: none; */
}


.eventContainer .eventBoxHost{
  /* color: red; */
  position: absolute;
  /* display: none; */
  font-size: 18px;
  top: 57%;
  left: 50%;
  color: gray;
}

.eventContainer .eventBoxParticipant{
  /* background-color: red; */
  font-size: 18px;
  position: absolute;
  left: 44.5%;
  top: 70%;
  color: gray;
  display: flex;
}


.participants{
  /* background-color: red; */
  padding-top: 10px;
  /* position: absolute;
  left: -159%;
  top: 22%; */

}
.eventContainer .eventBoxParticipant .likeList{
  /* background-color: red; */
  position: absolute;
  left: 82%;
}



/* For the buttons */

.eventContainer .joinButton{
  cursor: pointer;
  height: 35%;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 13%;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: limegreen;
  /* padding-top: 30%; */
}

.eventContainer .joinButton .joinText{
  position: relative;
  top: 15%;
}

.eventContainer .viewButton{
  height: 35%;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 53%;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;

  /* padding-top: 30%; */
}


.eventContainer .viewButton .viewText{
  position: relative;
  top: 15%;
}

.eventContainer.active .viewButtonPass{
  height: 35%;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 30%;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  opacity: 1;
}
.eventContainer .viewButtonPass .viewText{
  position: relative;
  top: 15%;
}

.eventContainer .hostButton{
  height: 35%;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 13%;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;

}
.eventContainer .hostButton .hostText{
  position: relative;
  top: 15%;
}

.eventContainer .leaveButton{
  height: 35%;
  width: 15%;
  position: absolute;
  right: 5%;
  top: 13%;
  border-radius: 10px;
  font-size: 27px;
  color: white;
  background-color: lightgray;
  cursor: pointer;

}
.eventContainer .leaveButton .leaveText{
  position: relative;
  top: 15%;
}
