.postListTabContainer{
  /* background-color: red; */
  position: relative;

}


.postListTabContainer .postListContainer{
  /* background-color: red; */
  width: 86%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: center;
  /* align-items: center; */
  /* text-align: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  text-align: center;
}

.postListTabContainer .postListContainer .postListSquare{
  /* background-color: blue; */
  position: relative;
  flex-grow: 1;
  /* flex-basis: 0; */
  height: 400px;
  /* padding-top: 100%; */
  overflow: hidden;
  width: 100%;
  align-items: center;

}


.postListTabContainer .postListContainer .postListSquare .squarePic{
  /* position: relative; */
  /* object-fit: cover; */
  /* width: 150%; */
  /* flex-shrink: 0; */
  min-height: 100%;
  width: 100%;
  object-fit: cover;

}

.postListTabContainer .postListContainer .postListSquare:hover .squarePic{
  filter: brightness(60%);

}

.postListTabContainer .postListContainer .postListSquare .squarePicW{
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.postListTabContainer .postListContainer .postListSquare .eyeClick{
  position: absolute;
  left: 45%;
  /* transform: translateX(-50%); */
  top: 45%;
  color: transparent;
  font-size: 50px;
  z-index: 1;
}

.postListTabContainer .postListContainer .postListSquare .eyeClick:hover{
  transform: scale(1.2);
}

.postListTabContainer .postListContainer .postListSquare:hover .eyeClick{
  color: white;

}
