.people-grid{
  /* position: absolute; */
  /* background-color: red; */
  display: grid;
  align-content:center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-column-gap: -10px; */
  /* justify-content: space-around; */
  width: 1500px;
  flex-wrap: wrap;
}

.people-grid .profileCard{
  /* flex-grow: 1 */
  margin: 10px;
}

.tabContainer {
  position: relative;
  left: 40px;
  bottom: 28px;
  width: 1760px;
  height: 1000px;
  /* background-color: #ffffff; */
}

.tabContainer .buttonContainer{

  height: 4%;
  width: 33.33%;
  position: relative;
  left: 33.33%;
  top: 2%;
  display: flex;
  text-align: center;
  /* margin-top: 10px; */

  }



.tabContainer .buttonContainer .Tab{
  width: 33.3333%;
  height: 100%;
  position: relative;
  /* float:none; */
  border: none;
  /* background: transparent; */
  /* border-radius: 25px; */
  outline: none;
  cursor: pointer;
  /* padding: 10px; */
  font-family: sans-serif;
  font-size: 18px;
  /* background-color: #ffffff; */
  /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
}

.description_tab{
  float: left;
	width: 33.333%;
	text-align: center;
}

.description_tab:first-child.active ~ .slider {
			left: 0;
}

.description_tab:nth-child(2).active ~ .slider {
			left: 33.333%;
}

.description_tab:nth-child(3).active ~ .slider {
			left: 66.666%;
}


.tabContainer .buttonContainer button:hover {
  background-color: #DCDCDC;
}

.slider {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 33.333%;
		height: 2px;
		background-color: #4A66F4;
		transition: .5s;
}

.tabContainer .tabPanel{
  height: 85%;
  background-color: gray;
  color: #363636;
  text-align: center;
  padding-top: 105px;
  font-family: sans-serif;
  font-size: 22px;
  display: none;

}
