
.icon {
  font-style: normal;
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;

   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {

    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  /* max-width: 1200px; */
  margin-bottom: 10em;
}


/* this is to hold all the functions */
.sideCalendarBarContainer{

}

/* Container that holds Calendar */
.calendarContainer{
  position: relative;
  right: 180px;
  width: 1395px;
  height: 920px;
  bottom: 70px;
  /* background-color: yellow; */
  display: flex;
}

.weekCalContainer {
  position: relative;
  right: 180px;
  width: 1395px;
  /* height: 1000px; */
  bottom: 100px;
  /* background-color: yellow; */
  display: flex;
}


/* GRID */
/* Do not change this because alot of other parts use this */
.flex-container {
  display: flex;
}

.weekDayFlex-Container{
  display: flex;
  overflow: auto;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
}

.dayFlex-Container{
  display: flex;
  overflow: auto;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
  width: 1500px;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.weekcolcell{
  float: center;

}


.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  /* background-color: red; */
}

.weekcol {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  /* border-right: 1px solid ; */
  /* background-color: red; */
  /* border-left: 2px solid; */
  /* border-color: darkgrey; */
}

.weekcol:first-child{
  border-left: 2px solid;
  border-color: darkgrey;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Side hours */
/* This is for the week tabs in the personalcalendar */
.flex-container .sidecol{
  position: relative;
  width: 10px;
  left: 50px;
  top: 225px;
  height: 10px;
  /* background-color: orange; */
}

/* This is for the time side bar for the weekCalendar */
.weekDayFlex-Container .timecol{
  width: 50px;
  float: left;
  position:relative;
  top: 40px;
  /* background-color: red; */

}

.dayFlex-Container .timecol{
  width: 50px;
  float: left;
  position:relative;
  top: 40px;
  /* background-color: red; */

}

/* This is for the side bars tabs in the PersonalCalendar */
.flex-container .sidecol .sideBar{
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  bottom: 15px;

}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder {
  transform: rotate(-90deg);
  padding-bottom: 125px;
  padding-left: 30px;
}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder .tabs{
   width: 165px;
   height: 35px;
   background: deepskyblue;
   border-radius: 5px;
   transform: perspective(5px) rotateX(2deg);
   transform-origin: bottom;

}

.calendar .body {
  background-color: var(--border-color);
}

.calendar .dayBody {
  position: relative;
  display: grid;
  grid-template-rows: repeat(48, 24px);
  grid-row-gap: 1px;
  top: -1200px;
  /* background-color: red; */
}

.calendar .dayBody .eventsDay{
  background-color: lightblue;
}



/* this is for the date time for week calendar */
.calendarContainer .weekDayFlex-Container.timecol .body .cell:first-child{
  /* border-top: 1px solid var(--border-color); */
}

/* time side for weekCalendar */
.calendarContainer .weekDayFlex-Container .timecol .body .cell{
  position: relative;
  height: 50px;
  border-top: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
  width: 70px;
  /* background-color: blue; */
}

.calendarContainer .dayFlex-Container .timecol .body .cell{
  position: relative;
  height: 50px;
  border-top: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
  width: 70px;
  /* background-color: blue; */
}


.calendarContainer .weekDayFlex-Container .timecol .body .cell .number{
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 10;
}

.calendarContainer .dayFlex-Container .timecol .body .cell .number{
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 10;
}

/* Calendar */
/* this will help control the width of the calendar */
.flex-container .calendar{
  width: 1520px;
  /* background-color: blue; */
}


.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.weekCalendar {
  display: block;
  position: relative;
  left: 50px;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  /* background-color: black; */
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 100%;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 600px;
}

.weekCalendar .header {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 100%;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 700px;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.weekCalendar .header .icon{
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.weekCalendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  /* text-transform: uppercase; */
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}

.calendar .weekDays {
  /* text-transform: uppercase; */
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}

.weekCalendar .weekDays {
  font-weight: 100;
  color: ;
  font-size: 100%;
  /* padding: .75em 0; */
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: 1470px;
  /* background-color: red; */
}

.weekCalendar .dayDays {
  font-weight: 100;
  color: ;
  font-size: 100%;
  height: 44px;
  /* padding: .75em 0; */
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  width: 1470px;
  /* background-color: red; */
}

.calendar .body .row .cell {
  position: relative;
  height: 10em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
}

.calendar .body .row .testItem {
  background-color: red;
  grid-row-start:1;
}

.calendar .body .row .cell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .row .monthEvent {
  background-color: lightblue;
  /* grid-column: 1/7; */
  z-index: 1;
}


.weekDayFlex-Container .calendar .weekBody .weekEvent{
  background-color: lightblue;
}


.calendar .body .cell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
  }

.calendar .body .cell .monthList .monthListItem .eventTime{
  font-size: 7pt;
  color: white;
  left: 10px;
}


.calendarContainer .mainCalContainer{
  width: 1600px;
  position: relative;
  right: 55px;
  top: -100px;

  /* padding-left: 25px; */
  /* background-color: orange; */
}

.calendarContainer .mainWeekCalContainer{
  width: 1600px;
  position: relative;
  right: 55px;
  top: -100px;

  /* padding-left: 25px; */
  background-color: orange;
}

.calendar .scrollBody {
  height: 1000px;
  margin-bottom: 0px;
  /* vertical-align: top; */
}

.scrollBody .testContainer {
  height: 0px;
}

/* This is for the minicalendar */
.miniflex-container{
  display: flex;
}

.miniflex-container .miniSidecol{
  position: relative;
  top: 40px;
}

.miniflex-container .miniSidecol .minisideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniflex-container .miniSidecol .minisideBar .miniholder{
  transform: rotate(-90deg);
  position: relative;
  padding-bottom: 0.8em;
  padding-left: 0px;
  top: 7px;
  left: 0px;
  width: 0px;
  background-color: red;
}

.miniflex-container .miniSidecol .minisideBar .miniholder .minitabs{
  width: 1em;
  height: 30px;
  background: deepskyblue;
  border-radius: 5px;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
.miniCalContainer .miniCalendar {
  /* background-color: red; */
  /* height: 100px; */
}

.miniCalContainer .miniCalendar .header{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  /* padding: 10em 10px; */
  border-bottom: 3px solid var(--border-color);
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .days{
  text-transform: uppercase;
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;

}

.miniCalContainer .miniCalendar .miniCol{
  flex-grow: 1;
  flex-basis: 0;
  /* max-width: 80%; */
  text-align:center;
}

.miniCalContainer .miniCalendar .miniRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.miniCalContainer .miniCalendar .miniBody .miniRow{
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .body .miniCol{
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.miniCalContainer .miniCalendar .body .miniCell{
  position: relative;
  height: 30px;
  width: 5em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
  font-size: 10px;
}

.calendarContainer .miniCalContainer{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  position: relative;
  /* top: 110px; */
  /* background-color: blue; */
}


/* This is to control the year view */
.calendar .body .yearcol {
  flex-grow: 0;
  flex-basis: calc(100%/4);
  width: calc(100%/4);
}

.calendar .body .yearcell {
  position: relative;
  height: 20em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
}

.calendar .body .yearcell .monthcell .row{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.calendar .body .yearcell .monthcell .row .monthCellCol {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendar .body .yearcell .monthcell .row .monthDayCell {
  position: relative;
  height: 3em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
}



/* This is for the week view and to control the cell size */
.calendar .backWeekBody .hourcell {
  position: relative;
  height: 50px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

/* this is to hel format the list in each cell in the weekview */
.calendar .body .hourcell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

/* This is to change the color of the items in the list in week view */
.calendar .body .hourcell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}

/* This is for the day view */
.calendar .backDayBody .daycell {
  position: relative;
  height: 50px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .daycell .uppertab {
  position: relative;
  height: 25px;
}

.calendar .body .daycell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .daycell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .hourcell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .daycell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

/* For the sizing of the calendar, you have to fix again sometime soon
to make it adjustable */
.calendar .body .row {
  display: grid;
  grid-template-columns: repeat(7, 215px);
  grid-template-rows: repeat(6, 25px);
  grid-auto-flow: dense;
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.weekDayFlex-Container .calendar .weekBody{
  display: grid;
  border-bottom: 1px solid var(--border-color);
  /* grid-auto-flow: dense; */
  grid-template-columns: repeat(7, 209px);
  grid-template-rows: repeat(48, 24.2px);
  /* background-color: red; */
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  position:relative;
  top: -1202px;

}

.calendar .weekBorder {
  background-color: white;
  /* position: absolute; */
  top: 100;
  left: 1000px;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
}


.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .row .cell:last-child {
  border-right: none;
}

.calendar .body .daycell:last-child {
  border-right: none;
}

/* This is for the upper part of the cell in the PersonalCalendar */
.calendar .body .row .cell .uppertab{
  grid-row-start: 1;
  grid-row-end: 4;
  height: 25px;
}

.calendar .body .row .cell .uppertab .uppertab .circle .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;

}

.calendar .body .cell .uppertab .circle{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  top: .01em;
  right: .01em;
}

.calendar .body .cell .circle:hover {
  background-color: #bbb;
}

/* This is to test for day number on each column */
.calendar .body .row .calendarNum {
  grid-row-start: 1;
  text-align: right;
  background-color: white;
  border-right: 1px solid var(--border-color);
  height: 160px;
}


.calendar .weekBody .weekRow .testNumber {

}

.calendar .body .daycell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

/* this one is for the disabled color for the month view */
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}


.calendar .body .cell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .hourcell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 4em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .daycell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .hourcell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .daycell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .backWeekBody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1470px;
  background-color: blue;
}

.calendar .backWeekBody .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  /* width: calc(100%/7); */
}

.calendar .body .weekcol {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}



.calendar .sidepanel {
  float: left;
  height: 240em;
  min-width: 10px;
  max-width: 50px;
  width: 40%;
  background: #e6f2ff  ;
  color: black;
  overflow: hidden;
  position: relative;
}

.calendar .sidepanel .sidecell{
  border-bottom: 3px solid var(--border-color);
  height: 104px;
}
