/* CSS for the dropdown from scratch */
.dropdown{
  /* background-color: red; */
}

.dropdownClick{
  cursor: pointer;
}

.dropdown-content{
  display: none;
  position: fixed;

  background-color: #f1f1f1;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.dropdown-content.show {
  display:block;
  z-index: 1;
}






.timeStamp {
  font-size: 12px;
  font-family: "Segoe UI Regular";

}

.notificationListContainer .listNotification {
  /* border: 2px solid; */
  position: relative;
  top: 10px;
  left: 25px;
  height: 70px;
  /* margin: 20px; */
  width: 290px;
  /* margin-top: 15px; */
  /* background-color: red; */
}

.listNotificationSingle {
  /* This is for the notifications that do not have a button */
  position: relative;
  top: 20%;
  left: 30px;
  height: 70px;
  /* margin: 20px; */
  width: 290px;
  font-size: 15px;
  /* margin-top: 15px; */
  /* background-color: red; */

}

.notificationListContainer .listNotificationFriend{
  /* background-color: red; */
  position: relative;
  top: 12px;
  left: 25px;
  height: 70px;
  /* margin: 20px; */
  width: 290px;
  /* margin-top: 15px; */

}

.notificationListContainer .listNotificationFriend .deleteButton{
  width: 10px;
  /* height: 100px; */
  /* background-color: red; */
  text-align: left;
  position: absolute;
  left: 287px;
  bottom: 55px;
  opacity: 0.5;
  text-align: center;
  border: none;
}

.notificationListContainer .listNotificationFriend .notificationWords{
  font-size: 16px;

}

.notificationListContainer .listNotificationFriend .pickEventSyncButton {
  position: relative;
  top: 5px;
}

.pickEventSyncButtonText {
  position: absolute;
  top:0%;
}

.notificationListContainer .listNotificationFriend .pickEventSyncButton .acceptButton{
  height: 25px;

}

.notificationListContainer .listNotificationFriend .pickEventSyncButton .declineButton{
  height : 25px;
  position: relative;
  left: 5px;
}

.notificationListContainer .listNotificationSingle .deleteButton{
  /* background-color: red; */
  width: 10px;
  /* height: 100px; */
  text-align: left;
  position: absolute;
  left: 287px;
  bottom: 50px;
  opacity: 0.5;
  text-align: center;
  border: none;
}

.notificationListContainer .listNotificationSingle .pickEventSyncButton{
  position: relative;
  top: 5px;
}
.notificationListContainer .listNotificationSingle .pickEventSyncButton .acceptButton{
  /* height: 25px; */
  /* padding-bottom: 5px; */
}
.notificationListContainer .listNotificationSingle .pickEventSyncButton .declineButton{
  /* height : 25px; */
  position: relative;
  left: 5px;
}




.notificationListContainer .listNotification .pickEventSyncButton{
  /* background-color: red; */
  position: relative;
  top: 5px;
}

.notificationListContainer .listNotification .pickEventSyncButton .acceptButton {
  height: 25px;
}

.notificationListContainer .listNotification .pickEventSyncButton .declineButton{
  height : 25px;
  position: relative;
  left: 5px;
}

.notificationListContainer .listNotification .deleteButton {
  /* background-color: red; */
  width: 10px;
  /* height: 100px; */
  text-align: left;
  position: absolute;
  left: 287px;
  bottom: 82px;
  opacity: 0.5;
  text-align: center;
  border: none;
}

.notificationListContainer .listNotification .notificationWords {
  /* color: blue; */
  font-size: 16px;
  /* background-color: red; */
}

.notificationListContainer{
  display: flex;
  background-color: white;
  overflow-x: hidden;
  height: 100px;
  width: 400px;
  cursor: pointer;

}
.noNotificationListContainer{
  background-color: white;
  /* overflow-x: hidden; */
  height: 100px;
  width: 400px;
  cursor: pointer;
  text-align: center;
}



.notificationListContainer:hover{

  background-color: #F7F9FB	;
}

.notificationListContainer .notificationIcon {
  /* background-color: red; */
  height: 55px;
  position: relative;
  left: 15px;
  top: 25%;
}

.notificationHeader {
  /* margin: 5px; */
  position: relative;
  width: 400px;
  top: -5px;
  height: 60px;
  text-align: center;
}

.notificationWord {
  color: black;
  position: relative;
  font-size: 30px;
  font-family: "Segoe UI Regular";
  top: 10px;
}


.notificationDropDown{
  position: fixed;
  /* top: 0; */
  /* bottom: 0; */
  right: 0vw;
  top: 6vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);


}

.notificationClearHolder{
  text-align: center;
  cursor: pointer;
  background-color:white;
}
.notificationClearHolder:hover{
  background-color: gainsboro;
}

.notificationScroll {
  overflow: auto;
  max-height: 800px;
  background-color: white;

}


.topNotification {
  margin: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: red;
}
