.listNotification {
  /* border: 2px solid; */
  height: 60px;
  margin: 20px;
  margin-top: 15px
}

.notificaitonListContainer{
  display: flex;
  /* background-color: red; */
  height: 100px;
}

.notificaitonListContainer:hover{
  background-color: gainsboro	;
}

.notificationIcon {
  /* margin: 5px; */
  position: relative;
  width: 350px;
  top: -5px;
  height: 60px;
  border-bottom: 3px solid lightgrey;
  text-align: center;
  background-image: linear-gradient(to bottom right, #2193b0 , #1E90FF);

  /* border-radius: 5px 5px 0px 0px; */

  /* right: 5px; */
  /* top: */
  /* height: 10px; */
  /* margin-top: 10px; */
  /* margin-left: 20px; */
  /* border: 2px solid; */
  background-color: red;
}

.notificationWord {
  color: white;
  position: relative;
  top: 10px;
}

.topNotification {
  margin: 20px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: red;
}
