/* CSS for the whole container */



.eventPageContainer{
  background-color: white;
  width: 96vw;
  /* padding: 30px; */
  height: 100%;
  font-family: 'Segoe UI Regular';
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}





/* CSS for the eventInfo side of the event page */
.eventInfoContainer{
  width:70%;
  position:relative;
  background: green;
  /* align-items: center; */
}


.eventTopEntire{
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI Regular';
  display: flex;
  flex-direction: row;
  background-color: white;
}


 .topSectContainerLeft{
  background-color: #f5f5f5;

  padding:25px;
  display: flex;
  width:50%;
  left:10%;
  position: relative;
  background: purple;
}




.topSectContainerRight{
  padding-top: 5%;
  width:40%;
  left:10%;
  position: relative;
  background: orange;
}

.eventBackgroundPic{
  background-color: red;
  width: 80%;
  top:10%;
  left:20%;
  height:75%;
  border: 10px dashed gainsboro;
  text-align: center;

  position: relative;

}

.eventLeftContainer{
  position:relative;
  width:85%;
  height:100%;
  left:14%;
  display:flex;
  flex-direction: row;
  background:blue;
}



.innerLeftEvent{
  position:relative;
  width:50%;
  padding-left: 50px;
  background-color: pink;
}

.innerRightEvent{
  position:relative;
  width:50%;
  background-color: brown;
}




.eventGroupChatContainer{
  width:30%;
  height:100%;
  position:relative;
  background: red;
}
/* adjust height of scrollable */
.eventInfoContainer .eventInfoView{

  /* width: 70%; */
  height: 100%;
  margin-left: -200px;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%); */
}






.innerContainerEvent{
  font-family: "Segoe UI";
  font-weight: 400;
  position: relative;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* eyeball css */
.pictureChange{
  position:absolute;
  top: 50%;
  color: transparent;
  font-size: 40px;

  color:white;
  font-size: 48px;

}



.hoverPic:hover{
  filter: brightness(90%);
}





.outerContainerEvent{
  position:relative;
  left:10%;
}

.mapSize{
  width:100px;
}

.eventCard{
  position: relative;
  overflow: hidden;

  background: white;
  line-height: 150%;
  border-radius: 15px;
  padding:40px;
  box-shadow:  0 10px 50px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI Regular';

  /* background-color: gainsboro; */
}

.addFont{
  font-family: 'Segoe UI Regular';
  color:black;
}

.mapEventCard{
  position: relative;
  overflow: hidden;
  width:100%;
  height:400px;
  float:right;
  padding:30px;
  margin-right: 25px;
  margin-bottom: 100px;
  padding-bottom: 175px;
  background: white;

  border-radius: 15px;
  box-shadow:

  0 10px 50px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI Regular';

  /* background-color: gainsboro; */
}

.personProfilePic{
  object-fit: cover;
  width:10px;
  height:10px;
}


.flex-container {
    position:relative;

    /* background: red; */
}






.innerContainer{
  position: relative;
  width:535px;
  min-height:200px;

}


.eventDetails{

  font-size: 16px;
  position: relative;
}


.flex-child {
    flex: 1;
    text-align: center;
    line-height: 70%;
    /* background: blue; */
}

.flex-child:first-child {
    margin-right: 50px;
    height:25px;

}





.dateCircle{
  /* border: 1px solid; */
  margin-top: 10px;
  width: 60px;
  height: 60px;
  padding: 3px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  /* right: 10px; */
  bottom: 10px;
}
.dateCircle .month{
  color: white;
  font-size: 20px;
}
.dateCircle .day{
  color: white;
  font-size: 15px;
}





 .eventTitle{
  color: black;
  font-size: 28px;
  line-height: 120%;
  /* font-size: calc(1.2vw); */
  margin-top: 0px;

  /* background-color: red; */
  word-break: normal  ;
}


.attendees{
  color: black;
  font-size: 18px;
  line-height: 150%;
  position:absolute;

  margin-left: -50px;
  bottom:-10px;
  /* background-color: red; */
}
.eventDate{
  color: black;
  font-size: 20px;
  margin-top: 15px;
  /* background-color: red; */
}
.eventHost{
  /* color: black; */
  margin-top: 20px;
}

.invitedNum{
  /* color: black; */
  margin-top: 20px;
  font-size: 18px;
}






.eventBackgroundWPic{
  /* background-color: red; */
  width: 80%;
  position: relative;
  left:20%;
  height: 350px;
  overflow: hidden;
  /* border: 10px dashed gainsboro; */
  border-radius: 10px;

}

.eventBackgroundWPic img{
  /* background-color: red; */

  object-fit: cover;
  position:relative;
  width:100%;
  height:100%;
  top:10%;
  height: 350px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.eventBackgroundPic .pictureFrame{
  top:25%;
  width: 80%;
  position: relative;
  left:10%;
  height: 350px;
  font-size: 55px;
  color: gainsboro;

}

.noMap{
  width: 70%;
  height: 350px;
  border: 10px dashed gainsboro;
  text-align: center;
  margin-left: 50px;
  margin-top: 50px;


}

.noMapFrame{
  position: relative;
  top: 28%;
  font-size: 45px;
  color: gainsboro;
}


.eventInfoContainer .eventInfoView .eventInfo{
  /* background-color: #F5F5F5; */
  text-align: left;
  height: 100%;
  padding: 50px 220px;
}
.eventInfoContainer .eventInfoView .eventInfo .title{
  font-size: 30px;
}
.eventInfoContainer .eventInfoView .eventInfo .aboutEvent{
  color: black;
  margin-bottom: 30px;
}
.eventInfoContainer .eventInfoView .eventInfo .contentEvent{
  margin-bottom: 30px;
}
.eventInfoContainer .eventInfoView .eventInfo .contentEventEmpty{
  margin-bottom: 30px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  /* border: 5px dashed gainsboro; */

  /* background-color: red; */
}

.eventInfoContainer .eventInfoView .eventInfo .locationEventWord{
  font-size: 20px;
  color: black;
  margin-bottom: 10px;

}
.eventPeopleWord {
  font-size: 20px;
  color: black;
  margin-top: 40px;
}
.percentagesBars {
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 300px; */
}

.percentage{
  /* background-color: red; */
  padding: 25px;
  /* align-items: center; */
  text-align: center;
}
.percentageTerm{
  /* background-color: red; */
  /* padding: 30px; */
  margin-top: 10px;
}



.hideScroll{
  overflow-x: hidden;
  overflow-y: hidden;
  height:100%;
  width:100%;
}




.editEventBackButtonContainer{
  /* background-color: red; */
  border: 1px solid gainsboro;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0px;

  text-align: center;
  padding-top: 3px;
}




/* close */
.closeEvent{
  /* background-color: red; */
  float:right;
  font-size: 40px;
  top: 10px;
  cursor: pointer;
  transition: 0.5s;
}


/* pencil */
.editEventButtonContainer{
  /* background-color: red; */
  color:#1890ff;

  position:relative;
  cursor: pointer;
  transition: 0.5s;
}



.editEventButtonContainer:hover{
  background-color: whitesmoke;
}





.chatBox{
  height:100%;
  position: relative;


  line-height: 100%;
}

.eventGroupChat .chatDisabledPage{
  background-color: whitesmoke;
  padding-top: 50%;
  font-size: 15px;
  text-align: center;
  height: 100%;
}
.chatHeader{
  margin-left: 150px;
  color:#096dd9;
  font-size: 15px;
  margin-top:-25px;
}


.eventGroupChat{
  /* margin-top: 20px; */
  width: 30%;
  /* background-color: green; */
}



.messageList{
  width: 100%;
  height: 82%;
  /* background-color: red; */
  overflow: auto;
  margin-top: 20px;
  /* padding:10px; */
  padding-top: 20px;
}



/* CSS for the eventChat side of the event page */
.eventGroupChatContainer{
  /* background-color: blue; */
  width: 100%;
  height: 90%;
  overflow: hidden;

}



.eventMessageItemUser{
  /* background-color: red; */
  clear:both;
  display: inline-block;
  padding: 10px 15px;
  margin: 2px 15px 5px 15px;
  border-radius: 20px;
  max-width: 350px;
  /* line-height: 130%; */
  background: #00BFFF;
  color: #f5f5f5;
  float: right;
  font-size: 15px;
}
.eventGroupChatContainer .messageList .eventMessageItemUser .messageP .eventTimeStamp{
  display:inline-block;
  float:right;
  font-size: 9px;
}
.eventGroupChatContainer .messageList  .eventMessageItemUser .eventMessageAvatar{
  position: relative;
  float:right;
}

.eventGroupChatContainer .messageList .eventMessageItemNotUser{
  /* background-color: red; */
  clear:both;
  /* display: inline-block; */
  display:flex;
  padding: 10px 15px;
  margin: 2px 15px 5px 15px;
  border-radius: 20px;
  max-width: 350px;
  /* line-height: 130%; */
  background: #f5f5f5;
  float: left;
  font-size: 15px;

}
.eventGroupChatContainer .messageList .eventMessageItemNotUser .messageP .userName{
  /* background-color: red; */
  /* position: absolute; */
  /* margin-top: -25px; */
  color: grey;
  font-size: 14px;
  font-family: "Segoe UI";
}
.eventGroupChatContainer .messageList .eventMessageItemNotUser .messageP .eventTimeStamp{
  font-size: 9px;
}

.eventGroupChatContainer .messageList .eventMessageItemNotUser .messageP{
  /* background-color: red; */
  margin-left: 10px;
  /* padding-top: -5px; */
}

.eventGroupChatContainer .messageList .eventMessageItemNotUser .eventMessageAvatar{
  /* margin-left: 5px; */
}

.eventChatInput {
  background-color: #f5f5f5;
  margin-top:10px;
  border-radius: 10px;
  margin-left: 15px;
  width:95%;
  font-size: 15px;
  padding:10px;
}

.roundButton{
  border-radius: 10px;
}

.selectBox{
   white-space: nowrap;
   line-height: 40px;
   overflow: auto;
   border: none;
}
