/* CSS for the whole container */
.eventPageContainer{
  background-color: red;
  display: flex;
  width: 1700px;
  height: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-48%);
}

/* CSS for the eventInfo side of the event page */
.eventInfoContainer{
  /* background-color: blue; */
  width: 60%;
}



/* CSS for the eventChat side of the event page */
.eventGroupChatContainer{
  /* background-color: red; */
  width: 40%;
}

.eventGroupChatContainer .messageList{
  width: 100%;
  height: 90%;
}

.eventGroupChatContainer .inputForm{

}
