.socialCalContainer {
  position: relative;

  width: 1700px;
  /* height: 920px; */
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  display: flex;
}


.socialCalendar {
  display: block;
  position: relative;
  width: 100%;
  /* background-color: red; */
  background: var(--neutral-color);
  /* border: 1px solid var(--border-color); */
}
.socialCalendar .header {
  font-weight: 400;
  font-size: 15px;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 100%;
}
.socialCalendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}
.socialCalendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}
.socialCalendar .header .icon:first-of-type{
  margin-left: 1em;
}
.socialCalendar .header .icon:last-of-type{
  margin-right: 1em;
}

.socialCalendar .days{
  width: 1700px;
  font-weight: 100;
  color: ;
  font-size: 20px;
  padding: .75em 0;
  /* border-top: 1px solid var(--border-color); */
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}


.socialCalendar .socialCalBody {
  /* This is to control the width of the calendar socialCalBody */
  background-color: white;
  width: 1700px;
}
.socialCalendar .socialCalBody .row {
  border-bottom: 1px solid var(--border-color);
}
.socialCalendar .socialCalBody .row .cell{
  /* This is to control the height of each cell */
  /* background-image: url("https://images.unsplash.com/photo-1594643566940-893b456ae452?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"); */
  position: relative;
  height: 250px;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  align-items: center;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
  background-color: transparent;

}

/* .socialCalendar .socialCalBody .row .cell:hover {
  background-color: #D3D3D3cc;

} */

.socialCalendar .socialCalBody .row .selected {
  border: 2px solid blue;
}

.socialCalendar .socialCalBody .row .cell:first-child{
  border-left: 1px solid var(--border-color)
}


.socialCalendar .socialCalBody .row .cell .bg{
  color: black;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  /* background-color: red; */
}

.socialCalendar .socialCalBody .row .cell .hoverCell .plusButton{
  position:absolute;
  left: 20%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;
}


.socialCalendar .socialCalBody .row .cell .hoverCell .plusButton:hover{
  transform: scale(1.2);
}

.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButton{
  position:absolute;
  left: 65%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;

  /* transition: 0.5s; */
}
.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButton:hover{
  transform: scale(1.2)
}

.socialCalendar .socialCalBody .row .cell .hoverCell .eventButton{
  position:absolute;
  left: 42%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;
}

.socialCalendar .socialCalBody .row .cell .hoverCell .eventButton:hover{
  transform: scale(1.2)
}

.socialCalendar .socialCalBody .row .cell .hoverCell .eventButtonAfter {
  position:absolute;
  left: 30%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;
}
.socialCalendar .socialCalBody .row .cell .hoverCell .eventButtonAfter:hover{
  transform: scale(1.2)
}
.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButtonAfter{
  position:absolute;
  left: 55%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;
}
.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButtonAfter:hover{
  transform: scale(1.2)

}


.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButtonPass{
  position:absolute;
  left: 43%;
  top: 45%;
  color: transparent;
  font-size: 40px;
  z-index: 1;
  /* transition: 0.5s; */
}
.socialCalendar .socialCalBody .row .cell .hoverCell .eyeButtonPass:hover{
  transform: scale(1.2)
}

.socialCalendar .socialCalBody .row .cell .bgD{
  color: white;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  left: 50%;
  z-index: 3;
}

.socialCalendar .socialCalBody .row .cell .hoverCell{
  width: 115%;
  height: 100%;
  /* background-color: red; */
  margin-left: -15px;
  /* width: 100px; */
  /* z-index: ; */
}

.socialCalendar .socialCalBody .row .cell .hoverCell:hover{
  /* width: 10px; */
  /* height: 150px; */
  background-color: #D3D3D3cc;
  /* background-color: red; */
  /* z-index: 3; */

  /* background-color: #000000cc; */
  /* filter: brightness(60%); */
}

.socialCalendar .socialCalBody .row .cell .hoverCell:hover .plusButton{
  color: white;
}
.socialCalendar .socialCalBody .row .cell .hoverCell:hover .eyeButton{
  color: white;
}
.socialCalendar .socialCalBody .row .cell .hoverCell:hover .eventButton{
  color:white;
}

.socialCalendar .socialCalBody .row .cell .hoverCell:hover .eyeButtonPass{
  color: white;
}

.socialCalendar .socialCalBody .row .cell .hoverCell:hover .eventButtonAfter{
  color: white;
}
.socialCalendar .socialCalBody .row .cell .hoverCell:hover .eyeButtonAfter{
  color:white;
}


.socialCalendar .socialCalBody .row .cell .hoverCell .imgCover {
  position: absolute;
  /* left: 20px; */
  left: 0%
}

.socialCalendar .socialCalBody .row .cell .hoverCell:hover .imgCover{
  filter: brightness(60%);
}

.coverCellBox{
    /* background-color: red; */
  width: 250px;
  /* width: 100px;`` */
  /* padding: -100px; */
  margin-left: -13px;
  overflow: auto;
  height: 210px;
}

.coverCellBoxList {
  /* background-color: blue; */

}
.coverCellBoxList .coverCellBoxItem {
  /* background-color: red; */
  margin: 2px;
  width: 232px;
  padding-left: 3px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.eventBoxListHeader {
  /* background-color: red; */
  align-items: center;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}

.eventBoxListHeader .buttonHolder {
  /* margin-top: 5px; */
  position: relative;
  /* left: 3px; */
  left: 50%;
  transform: translateX(-50%);
  padding-top:10px;
  /* background-color: red; */
}

.eventBoxListHeader .plusButton {
  /* color: red; */
  /* position:absolute; */
  /* left: 20%; */
  /* top: 45%; */
  /* color: transparent; */
  /* font-size: 40px; */
  z-index: 1;
  font-size: 24px;

}

.eventBoxListHeader .plusButton:hover{
  transform: scale(1.2)

}
.eventBoxListHeader .eventButton {
  /* color: gainsboro; */
  margin-left: 15px;
  margin-right: 15px;
  font-size: 24px;

}
.eventBoxListHeader .eyeButton {
  /* color: red; */
  font-size: 24px;

}
.eventBoxListHeader .eventButtonAfter {
  /* color: red; */
  font-size: 24px;
  padding-right: 15px;

}
.eventBoxListHeader .eyeButtonAfter {
  /* color: red; */
  font-size: 24px;
  padding-left: 15px;


}
.eventBoxListHeader .eyeButtonPass {
  /* color: red; */
  position: relative;
  left: 0px;
  /* transform: translateX(-100%); */
  padding-top: 17px;
  font-size: 24px;

}

.coverEventCapacity{
  /* background-color: red; */
  display: flex;
}
.coverEventCapacity .coverEventNumber{
  /* background-color: red; */
  padding-top: 5px;
}

.coverEventCapacity .avatarContainer{
  /* background-color: blue; */
  /* position: relative; */
  /* margin-left: 5px; */
}

.joinEventButtonCover{
  background-color: limegreen;
  cursor: pointer;
  color: white;
  font-size: 15px;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 10%;
  left: 150px;
  width: 60px;
  height: 30px;
}
.joinEventButtonCover:hover{
  filter: brightness(90%);
}

.joinEventButtonCover .joinText{
  position: relative;
  left: 22%;
  top: 2px;
  transform: translateX(-50%);
}

.alreadyJoinButtonCover{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 150px;
  top: 10%;
}

.alreadyJoinButtonCover:hover{
  filter:brightness(90%);
}


.alreadyJoinButtonCoverHost{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 150px;
  top: 10%;
}
.alreadyJoinButtonCoverHost .joinText{
  position: relative;
  left: 20%;
  top: 2px;
  transform: translateX(-50%);
}



.alreadyJoinButtonCover .joinText{
  position: relative;
  left: 20%;
  top: 2px;
  transform: translateX(-50%);
}


.alreadyViewButtonCoverPass{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 150px;
  top: 30%;
}
.alreadyViewButtonCoverPass:hover{
  filter: brightness(90%);
}

.alreadyViewButtonCoverPass .viewText{
  position: relative;
  left: 20%;
  top: 2px;
  transform: translateX(-50%);
}


.alreadyJoinButtonCover .leaveText{
  position: relative;
  left: 14%;
  top: 2px;
  transform: translateX(-50%);
}
.viewEventButtonCover{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 150px;
  top: 50%;
}

.viewEventButtonCover:hover{
  filter: brightness(90%);
}


.viewEventButtonCover .viewText{
  position: relative;
  left: 20%;
  top: 2px;
  transform: translateX(-50%);

}

.coverCellEventText{
  /* background-color: red; */
  position: relative;
  margin-left: 7px;
}



.img {
  /* width: 10px; */
  /* height: 20px; */
}
