.socialCalCellModalBackground{
  margin:0;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 100%;

  overflow:hidden;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
  /* margin-bottom: 1000px; */

}

.singlePicHolder{
  width: 70%;
  height: 920px;
  position: relative;
}
.singlePicHolder .singlePic{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.singlePicHolder .singlePic .picture{
  /* width: 100%; */
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.singlePicHolder .singlePic .backgroundPic {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(20px);
    overflow: hidden;
    /* -webkit-filter: blur(20px); */
    z-index: 0;

}

.singlePicHolder .singlePic .clipPicturesRoll{
  position: relative;
  overflow: hidden;
  height: 920px;
  width: 85%;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* border-radius: 10px; */
  z-index: 10;
}

.singlePicHolder .singlePic .clipPicturesRoll .ownerHolder{
  position: absolute;
  left: 7.5%;
  top: 5%;
  display: flex;
}
.singlePicHolder .singlePic .clipPicturesRoll .ownerHolder .ownerName{
  position: relative;
  left: 10%;
}

.singlePicHolder .singlePic .clipPicturesRoll .polaroidHolder{
  position: relative;
  object-fit: cover;

  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  /* border: 1px solid gray; */
  height: 80%;
  overflow: hidden;
  width: 85%;
  /* background-color: red; */
}
.singlePicHolder .singlePic .clipPicturesRoll .polaroidHolder .socialImages{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
}

.exitX{
  color: white;
  font-size: 40px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* This is for the page look */
.socialCalCellModal {
  position: fixed;
  background: white;
  /* height: 100; */
  top: 3.5%;
  left: 10%;
  right: 10%;
  z-index: 100;

}


.socialModalDate{
  /* background-color: red; */
  text-align: center;
  color:black;
  font-weight: 500;
  font-size: 18px;
  position:relative;
  top: 5px;
  left: 100px;
}

.socialHolder{
  /* background-color: red; */
  /* padding: 10px; */
  display: flex;
  height: 920px;
}



.socialLeftRight{
  /* display: flex; */
}
.socialLeftRight .socialArrowLeft {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 0%;
  font-size: 45px;
}
.socialLeftRight .socialArrowRight {
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  left: 67%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;
}

.socialModalRight {
  /* background-color: red; */
  position: relative;
  bottom: 0px;
  height: 100%;
  /* padding: 20px; */
}

.socialModalRight .socialNameTag {
  /* background-color: red; */
  height: 80px;
  display: flex;
  padding: 20px;}


.socialModalRight .socialNameTag .socialNameUsername{
    /* background-color: red; */
    position: relative;
    left: 5px;
    bottom: 5px;
    font-weight: 500;
}

.socialModalRight .socialNameTag .socialProfileImage {
  position: relative;
  /* top: 20%; */
}

.socialModalRight .socialNameTag .socialName {
  /* background-color: red; */
  position: relative;
  left: 0%;
  top: 0%;
  font-size: 22px;
  margin-left: 10px;
}

.socialListBox{
  /* background-color: red; */
  padding: 15px;
  margin-top: 50px;
  border: 1px solid gainsboro;
  height: 235px;
  width: 450px;
  overflow: auto;

}

.socialListBox .socialListItem{
  /* background-color: red; */
  margin: 3px;
  padding-left: 15px;
  /* padding-top: 10px; */
  height: 140px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.socialLikeCommentNum{
    /* background-color: red; */
    display: flex;
    height: 40px;
}
.socialLikeCircle{
  /* background-color: red; */
  /* margin-left: 30px; */
  position: relative;
  left: 25px;
  top: 8px;
  height: 20px;
}
.socialLikeCommentNum .socialLikeCommentText{
  /* background-color: red; */
  margin-left: 30px;
  position: relative;
  top: 8px;
  height: 20px;
}
.socialLikeCommentNum .socialLikeAvatar{
  /* background-color: blue; */
  position: relative;
  left: 35%;
}
.socialLikeComment{
  /* background-color: red; */
  display: flex;
}
.socialLikeComment .socialLike{
  /* background-color: blue; */
  height: 40px;
  width: 50%;
  border: 1px solid gainsboro;
  border-left: none;
  text-align: center;
  margin-left: 2px;
  padding-top: 8px;
  cursor: pointer;
}
.socialLikeComment .socialLike:hover{
  background-color: gainsboro;
}
.socialLikeComment .socialComment{
  /* background-color: red; */
  height: 40px;
  width: 50%;
  border: 1px solid gainsboro;
  border-right: none;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}
.socialLikeComment .socialComment:hover{
  background-color: gainsboro;
}



.socialListItemText{
  /* background-color: red; */
  position: relative;
  bottom: 0px;
}

.socialEventTitleContainer {
  /* position: absolute; */
  /* background-color: red; */
  display: flex;
  /* margin-top: 10px; */
}

.socialEventClock{
  height: 12px;
  margin-right: 5px;
}

.socialEventPin{
  height: 12px;
  margin-right: 3px;
}

.socialEventLocation{
  font-size: 13px;
  margin-left: 10px;
}

.socialEventTime{
  font-size: 13px;
}

.socialEventCapcity{
  /* background-color: red; */
  /* display: flex; */
}

.socialUserIcon{
  height: 12px;
  margin-right: 3px;
}

 .socialEventTitle{
  /* background-color: red; */
  font-size:  25px;
}

.socialCommentBoxBox{
  height: 51.5%;
  width: 450px;
  overflow:hidden;
  /* background-color: red; */
}
.socialCommentBox {
  /* background-color: blue  ; */
  height: 100%;
  width: 460px;
  padding-left: 20px;
  overflow:auto;
  /* width: 50%; */
}
.socialCommentBox .socialCommentItem {
  /* background-color: red; */

  margin-top: 10px;
  padding: 5px;
}
.socialCommentBox .socialCommentInput{
  /* background-color: red; */
  display: flex;
  position: absolute;
  left: 0%;
  bottom: 245px;
  margin-left: 20px;
}
.socialBoxInput{
  width: 360px;
  margin-left: 10px;
  font-size: 15px;
}
.sendOutline{
  /* background-color: red; */
  font-size: 30px;
  color: deepskyblue;
  padding-left: 10px;
  padding-bottom: 5px;
}
.socialCommentBox .socialCommentItem .socialCommentNameTag{
  /* background-color: red; */
  display: flex;
}
.socialCommentBox .socialCommentItem .socialCommentNameTag .socialCommentName{
  display: flex;
  margin-left: 10px;
}

.socialCommentUsername{
  font-weight: 400;
}

.socialCommentDate{
  /* background-color: red; */
  position: absolute;
  left: 80%;
  /* top: 10%; */
  height: 20px;
  font-size: 10px;
  padding-top: 5px;
  margin-left: 4px;
}

.socialCommentText{
  /* background-color: red; */
  position: relative;
  width: 300px;
  /* top: 50%; */
  left: 12%;
  top: -20px;
}



.joinEventButton {
  background-color: limegreen;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 10%;
  left: 260px;
  width: 100px;
  height: 40px;
}
.joinEventButton .joinText{
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */

}

.alreadyJoinButton {
  background-color: gainsboro;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 10%;
  left: 260px;
  width: 100px;
  height: 40px;
}
.alreadyJoinButton .joinText{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}


.viewEventButton{
  /* background-color: red; */
  cursor: pointer;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 20px;
  top: 50%;
  left: 260px;
  width: 100px;
  height: 40px;
}

.viewEventButton .viewText{
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);

}

.viewEventButtonPass{
  cursor: pointer;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 20px;
  top: 30%;
  left: 260px;
  width: 100px;
  height: 40px;
}
.viewEventButtonPass .viewText{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);

}

.socialPublicTag{
  position: relative;
  background-color: #F5F5F5;
  color: limegreen;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

.socialPrivateTag{
  position: relative;
  /* background-color: red; */
  background-color: #F5F5F5;
  color: red;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;

}

.socialHolder .socialCarousel{
  width: 70%;
  height: 100%;
}

.socialHolder .socialCarouselZero {
  width: 215%;
  /* background-color: red; */
  border: 10px dashed gainsboro;
  text-align: center;
}

.socialHolder .socialCarouselZero .pictureFrame{
  /* background-color: red; */
  position: relative;
  top: 40%;
  font-size: 55px;
  color: gainsboro;
}

.socialHolder .socialCarouselSingle{
  width: 215%;
  height: 920px;
  /* background-color: red; */
  text-align: center;
  overflow: hidden;
}

.socialHolder .socialCarouselSingle .singlePic{
  /* position: relative; */
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 920px;
  /* width: 1100px; */
}

.picturesRoll{
  /* height:800px; */
  /* background-color: #000000cc; */
  overflow: hidden;
  height: 920px;
}

.clipPicBackground {
  overflow: hidden;
  height: 920px;
  /* border: 1px solid black; */
  /* background-color: black; */
  position: relative;
}

.clipPicBackground .backgroundPic {
  position: absolute;
  /* height: %; */
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(20px);
  -webkit-filter: blur(20px);
  z-index: 0;
}

.clipPicBackground .clipPicturesRoll{
  /* display: none; */
  overflow: hidden;
  height: 920px;
  width: 85%;
  /* border: 1px solid black; */
  background-color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* border-radius: 10px; */
  z-index: 10;
}

.clipPicBackground .clipPicturesRoll .ownerHolder{
  /* background-color: red; */
  position: absolute;
  left: 7.5%;
  top: 5%;
  display: flex;
}
.clipPicBackground .clipPicturesRoll .ownerHolder .ownerName{
  position: relative;
  left: 10%;
}

.picturesRoll .socialImages{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
  /* top: 50%; */
}

.clipPicBackground .clipPicturesRoll .polaroidHolder{
  position: relative;
  object-fit: cover;

  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  /* border: 1px solid gray; */
  height: 80%;
  overflow: hidden;
  width: 85%;

}
.clipPicBackground .clipPicturesRoll .polaroidHolder .socialImages{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
}


.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
