/* CSS FOR CONTAINERS ON SocialCalCellModal */
.socialCalCellModalBackground{
  margin:0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  overflow:hidden;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
}

.exitX{
  color: white;
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 1%;
  cursor: pointer;
}





/* CSS FOR THE socialcalcellpage */
.socialCalCellModal {
  position: fixed;
  background: white;
  /* height: 100; */
  top: 50%;
  width: 90%;
  height: 95%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  color:black;
  font-weight: 500;
  font-family: "Segoe UI Regular";
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px){
  .socialCalCellModal{
    width: 100%;
  }
}

@media screen and (max-width: 700px){
  .disappearLikes{
    display: none;
  }
  .disappearComments{
    display: none;
  }
}

@media screen and (max-width: 800px){
  .socialCommentDate{
    display: none;
  }
}

@media screen{
  .socialModalLeft{
    width: 70%;
  }
  .socialModalRight{
    width: 30%,auto;
    display: flex;

  }
}
@media screen and (max-width: 700px){
  .socialModalLeft{
    width: 100%;
  }
  .socialModalRight{
    display: none;
  }
}


/* CSS FOR THE PICTURE SIDE OF THE SOICAL CAL CELL MODAL */
.socialModalLeft{
  position: relative;
  height: 100%;
}

.singlePicHolder{
  width: 100%;
  height: 100%;
  position: relative;
}
.singlePicHolder .singlePic{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}

.singlePicHolder .singlePic .picture{
  /* width: 100%; */
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.singlePicHolder .singlePic .backgroundPic {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: blur(20px);
    overflow: hidden;
    z-index: 0;

}
.singlePicHolder .singlePic .threeDot{
  position: absolute;
  right: 0%;
  z-index: 100;
  color: white;
}

.singlePicHolder .singlePic .clipPicturesRoll{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 80%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* border-radius: 10px; */
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.ownerHolder{
  font-size: 18px;
  height: 15%;
  position: relative;
}
.ownerHolder .ownerHolderHolder{
  position: relative;
  display: flex;
  flex-direction: row;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3%;
}
.ownerHolder .ownerHolderHolder .ownerName{
  position: relative;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.ownerHolder .ownerHolderHolder .ownerName .headerPostName{
  font-size: 20px;
  color: black;
}
.ownerHolder .ownerHolderHolder .ownerName .headerPostText{
  font-size: 13px;
  color: gray;
}
.ownerHolder .ownerHolderHolder .ownerAvatar{

}
.polaroidHolder{
  position: relative;

  height: 85%;

}
.polaroidHolder .polaroidHolderHolder{
  position: relative;
  overflow: hidden;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  /* border: 1px solid gray; */
}

.polaroidHolder .polaroidHolderHolder .socialImages{
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.socialModalLeft .socialCarouselZero {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  border: 10px dashed gainsboro;
  text-align: center;
}

.socialModalLeft .socialCarouselZero .pictureFrame{
  /* background-color: red; */
  position: relative;
  top: 40%;
  height: 100%;
  font-size: 55px;
  color: gainsboro;
}

.socialModalLeft .socialCarousel{
  position: relative;
  width: 100%;
  height: 100%;
}

/* CSS FOR THE PICTUREE CAROUSEL */
.socialLeftRight{
  position: relative;
  width: 100%;
  height: 100%;
}


.socialLeftRight .socialArrowLeft {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 0%;
  font-size: 45px;
}
.socialLeftRight .socialArrowRight {
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  right: 0%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;
}

.clipPicBackground {
  position: relative;
  height: 550px;
  width: 100%;
}

.clipPicBackground .threeDot{
  position: absolute;
  right: 0%;
  color: white;
  cursor: pointer;
  z-index: 100;
}

.clipPicBackground .backgroundPic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: blur(20px);
  overflow: hidden;
  z-index: 0;

}
.clipPicBackground .clipPicturesRoll{
  /* display: none; */
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 80%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* border-radius: 10px; */
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.picturesRoll{
  /* height:800px; */
  /* background-color: #000000cc; */
  overflow: hidden;
  height: 550px;
  position: relative;
}


.picturesRoll .threeDot{
  position: absolute;
  right:0%;
  z-index: 100;
  color:white;
}
.picturesRoll .socialImages{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  /* top: 50%; */
}







/* CSS FOR THE TEXT AND COMMENT SIDE OF THE SOCIAL CAL CELL MODAL */
.socialModalRight {
  position: relative;
  height: 100%;
  width: 30%;
  flex-direction: column;
}

.socialModalRight .cellThreeDots{
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
  color: white;

}
/* CSS that is used to contain the name, avatar and date */
/* XXX go back to here */
.socialModalRight .topSection{
  position: relative;
  display: flex;
  flex-direction: column;
}

.socialNameSect{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}
.socialNameSect .socialName{
  position: relative;
  width: 90%;
}

.socialNameSect .socialName .socialNameTag {
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: row;
  position: relative;
}

.socialNameTag .socialProfileHolder{
  width: 25%;
}
.socialNameTag .socialNameHolder{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.socialNameTag .socialProfileHolder .socialProfileImage {
  position: relative;
  /* top: 20%; */
}
.socialNameTag .socialNameHolder .socialNameName{
  height: 50%;
  font-size: 12px;
  color: black;
}
.socialNameTag .socialNameHolder .socialUsername{
  height: 50%;
  color: gray;
  font-size: 10px;
}

.socialNameSect .socialDate{
  position: relative;
  width: 50%;
  text-align: center;
  color: black;
}
.socialNameSect .socialDate .socialDateDate{
  position: relative;
  top: 32%;
  transform: translateY(-50%);
}


/* CSS for the caption and adding the caption */
/* XXX come back for this */
.socialCaptionSect{
}

.socialCaptionSect .dayCaption{
  position: relative;
  width: 90%;
  left: 50%;
  transform:translateX(-50%);
  font-size: 12px;
  /* height: 12.5%; */
}
.editCaptionPen {
  color: lightgray;
}
.editCaptionPen:hover{
  color: gray;
  cursor: pointer;
}
.socialCaptionSect .dayCaption .textAreaHolder{
  /* background-color: red; */
  display: flex;
  padding-right: 5%;
}
.socialCaptionSect .dayCaption .textAreaHolder .captionTextHolder{
  width: 100%;
}
.socialCaptionSect .dayCaption .textAreaHolder .penIcon{
  margin-left: 5px;
  cursor: pointer;
  color: lightgray;
}
.socialCaptionSect .dayCaption .textAreaHolder .penIcon:hover{
  color: gray;
  cursor: pointer;
}
.socialCaptionSect .dayCaption .writeCaptionText{
  color: lightgray;
  font-size: 12px;
}
.socialCaptionSect .dayCaption .writeCaptionText:hover{
  color: gray;
  cursor: pointer;
}



/* XXX come back to this */
.socialLikingSect{
  display: flex;
}
.socialLikingSect .socialLikeCommentNum{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    position: relative;
}
.socialLikeCommentNumHolder{
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 50%;
  position: relative;
  left:50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.socialLikeCommentNumHolder .socialLikeCircle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.socialLikeCommentNumHolder .socialLikeCommentText{
  /* background-color: red; */

  position: relative;
  display: flex;
  flex-direction: row;
  height: 20px;
  font-weight: 400;
  color:black;
}



.socialLikingSect .socialLikingLiking{
  width: 30%;
  position: relative;
}
.socialLikingLiking .socialLikeAvatar{
  position: relative;
  width: 80%;
  height:80%;
  left:50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* padding-right: -10px; */
}






.socialModalRight .bottomSection{
  position: relative;
  /* height: 84%; */
  /* height: 74%; */
}

.socialModalRight .bottomSection .socialLikeCommentSect{
  height: 6%;
}
.socialLikeComment{
  /* background-color: red; */
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.socialLikeComment .socialLike{
  /* background-color: blue; */
  height: 100%;
  width: 50%;
  border: 1px solid gainsboro;
  border-left: none;
  text-align: center;
  cursor: pointer;
}
.socialLikeComment .socialLike:hover{
  background-color: gainsboro;
}
.socialLikeComment .socialComment{
  /* background-color: red; */
  height: 100%;
  width: 50%;
  border: 1px solid gainsboro;
  border-left: none;
  text-align: center;
  cursor: pointer;
}
.socialLikeComment .socialComment:hover{
  background-color: gainsboro;
}
.textHeightCenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



/* This is to hold the comment section */
.socialModalRight .bottomSection .socialCommentListSect{
  height: 59%;
}
.socialCommentListSect .socialCommentBoxBox{
  position: relative;
  height: 100%;
  /* max-height: 55%; */
  width: 100%;
  overflow:hidden;
  /* display: flex; */
  /* background-color: red; */
}
.socialCommentListSect .socialCommentBoxBox .socialCommentBox {
  /* background-color: blue  ; */
  height: 100%;
  width: 100%;
  padding-left: 10px;
  overflow:auto;
  /* width: 50%; */
}
.socialCommentItem {
  margin-top: 5px;
  padding: 2px;
  display: flex;
  flex-direction: row;
}
.socialCommentItem .socialCommentAvatarSect{

}
.socialCommentItem .socialCommentTextSect{
  width: 70%;
  margin-left: 5px;
}
.socialCommentItem .socialCommentTextSect .socialCommentNameTime{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.socialCommentNameTime .socialCommentUsername{
  position: relative;
  left: 0;

}
.socialCommentItem .socialCommentDate{
  /* background-color: red; */
  position: absolute;
  right: 6%;
  font-size: 10px;
  /* top: 10%; */

}
.socialCommentItem .socialCommentBody{
  color: black;
}

.socialCommentItem .socialCommentBody .socialCommentText{
  /* background-color: red; */
  position: relative;
  /* top: 50%; */

}

.socialModalRight .bottomSection .socialCommentInputSect{
  height: 8%;
}

.socialCommentInputSect .socialCommentInput{
  display: flex;
  flex-direction: row;
  width: 95%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.socialCommentInputSect .socialCommentInput .socialInputFormHolder{
  position: relative;
  width: 88%;
}
.socialCommentInputSect .socialCommentInput .socialInputFormHolder .socialInputForm{
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: relative;

}

.socialModalRight .bottomSection .socialEventSect{
  height: 27%;
}
.socialEventSect .socialListBox{
  /* background-color: red; */
  padding: 15px;
  margin-top: 0px;
  border: 1px solid gainsboro;
  /* height: 25.5%; */
  height: 100%;
  width: 100%;
  overflow: auto;
  position:relative;
  /* bottom: 3%; */
}

.socialEventSect .socialListBox .socialListItem{
  /* background-color: red; */
  margin: 3px;
  padding-left: 15px;
  /* padding-top: 10px; */
  height: 140px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
}

.socialListItem .socialEventListText{
  width: 70%;
  height: 100%;
}

.socialEventListText .socialEventListTextFirst{
  width: 100%;
  height: 30%;

}

.socialEventTitleContainer {
  /* position: absolute; */
  display: flex;
  /* margin-top: 10px; */
}
.socialEventTitleContainer .socialEventTitle{
 /* background-color: red; */
 font-size:  25px;
}
.socialEventTitleContainer .socialPublicTag{
  position: relative;
  background-color: #F5F5F5;
  color: limegreen;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;
}
.socialEventTitleContainer .socialPrivateTag{
  position: relative;
  /* background-color: red; */
  background-color: #F5F5F5;
  color: red;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;

}
.socialEventListText .socialEventListTextSecond{
  width: 100%;
  height: 20%;
}
.socialEventListTextSecond .socialEventLocation{
  font-size: 15px;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.socialEventLocation .socialEventPin{
  height: 100%;
  color: black;
  width: 7%;
}
.socialEventLocation .socialEventLocationText{
  height: 100%;
  color: black;
}
.socialEventListText .socialEventListTextThird{
  width: 100%;
}
.socialEventListTextThird .socialEventTime{
  font-size: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;

}
.socialEventTime .socialEventClock{
  height: 100%;
  color: black;
  width: 7%;
}
.socialEventTime .socialEventTimeText{
  height: 100%;
  color: black;
}

.socialEventListText .socialEventListTextFourth{
  width: 100%;
  height: 20%;
}
.socialEventListTextFourth .socialEventCapcity{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}
.socialEventCapcity .socialEventUserIcon{
  position: relative;
  width: 30%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
}
.socialEventCapcity .socialEventUserIcon .socialEventLikingNum{
  margin-left: 7px;
}

.socialEventCapcity .socialEventLiking{
  position: relative;
  width: 70%;
  height: 50%;

}




.socialListItem .socialEventListButtons{
  width: 30%;
  height: 100%;
}
.socialListItemText{
  position: relative;
  height: 100%;
  width: 100%;
}

.socialCurDayEventButton{
  width: 100%;
  height: 100%;
  position: relative;
}

.socialCurDayEventButton .curDayEventTop{
  height: 50%;
}

.socialCurDayEventButton .curDayEventBottom{
  height: 50%;
}

.alreadyJoinButton {
  background-color: gainsboro;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  height: 40px;
  text-align: center;
}
.alreadyJoinButton .joinText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.joinEventButton {
  background-color: limegreen;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  height: 40px;
  text-align: center;
}
.joinEventButton .joinText{
  /* background-color: red; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.viewEventButton{
  /* background-color: red; */
  cursor: pointer;
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  height: 40px;
  text-align: center;
}

.viewEventButton .viewText{
  /* background-color: red; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}
.viewEventButtonPass{
  cursor: pointer;
  position: relative;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  height: 40px;
  text-align: center;
}
.viewEventButtonPass .viewText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);


}














.commentEventHolder{
  /* position: sticky; */
  position: relative;
  height: 99%;
  width: 100%;
  /* float: bottom; */
  bottom: 0%;
  /* top: 81%; */
  /* transform: translateY(-100%); */
  /* display: flex; */
  /* padding-top: 10px; */
}


.socialModalRight .socialNameTag .socialModalDate{
  /* background-color: red; */
  text-align: center;
  color:black;
  font-weight: 500;
  font-size: 15px;
  position:relative;
  width: 40%;
  top: 7px;
  left: 15%;
}

.postUsername{
    /* background-color: red; */
    color:black;
    font-weight: 500;
    font-size: 12x;
    font-family: "Segoe UI Regular";
}

.socialBoxInput{
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
  position: relative;
}
.sendOutline{
  /* background-color: red; */
  font-size: 30px;
  color: deepskyblue;
  padding-left: 10px;
  padding-bottom: 5px;
}

.socialHolder .socialCarouselSingle{
  width: 70%;
  height: 920px;
  /* background-color: red; */
  text-align: center;
  overflow: hidden;
}

.socialHolder .socialCarouselSingle .singlePic{
  /* position: relative; */
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 920px;
  /* width: 1100px; */
}





.socialCalCellUsername{
  font-weight: 600;
}

.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}


/* css for the deletesoicalpost modal */
.buttons{
  display: flex;
}

.buttons .cancelDelete{
  background-color: red;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  position: relative;
  left: 29%;
  top: 11px;
  cursor: pointer;
}

.buttons .acceptDelete{
  background-color: #0099FF;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  /* border: 1px grey solid; */
  position: relative;
  left: 35%;
  top: 11px;
  cursor: pointer;
}


/* This is for the change cover picture modal */
.coverPicRoll{
  overflow:hidden;
  height: 400px;
}

.coverPicRoll .coverPicImg{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.changeCoverPicModal .socialArrowLeft{
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 0%;
  font-size: 45px;
}

.changeCoverPicModal .socialArrowRight{
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  right: 0%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;

}

.changeCoverPicModal .buttons{
  display: flex;
}
.changeCoverPicModal .buttons .cancelButton{
  background-color: red;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  position: relative;
  left: 29%;
  top: 11px;
  cursor: pointer;
}
.changeCoverPicModal .buttons .acceptButton{
  background-color: #0099FF;
  color: white;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  padding-top: 7px;
  /* border: 1px grey solid; */
  position: relative;
  left: 35%;
  top: 11px;
  cursor: pointer;
}
