/* CSS FOR SOCIAL CALENDAR */
.socialCalContainer {
  position: relative;

  width:100%;
  /* height: 920px; */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.socialCalendar {
  display: block;
  position: relative;
  width: 100%;
  /* margin-top: -20px; */
  /* background-color: red; */
  /* background: var(--neutral-color); */
  /* border: 1px solid var(--border-color); */
}

/* CSS FOR THE SOCIAL CALENDAR HEADER */
.socialCalendar .socialHeader {
  font-weight: 500;
  font-size: 15px;
  color:black;
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.socialCalendar  .socialHeader .leftArrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left: 25%;
}

.socialCalendar  .socialHeader .midText{
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

.socialCalendar .socialHeader .rightArrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:75%;
}

/* will add more to this later */



/* CSS FOR THE RENDER DAYS */
.socialCalendar .days{
  position: relative;
  width: 100%;
  font-weight: 300;
  font-family: "Segoe UI Regular";
  font-size: 18px;
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.socialCalendar .days .day{
  position: relative;
  width: calc(100%/7);
  text-align: center;
}




/* CSS FRO THE RENDERCELLS */
.col {

}


.socialCalBody {
  /* This is to control the width of the calendar socialCalBody */
  background-color: white;
  width: 100%;
}
.socialCalBody .row {
  border-bottom: 1px solid var(--border-color);
}
.socialCalBody .row .cell{
  /* This is to control the height of each cell */
  /* background-image: url("https://images.unsplash.com/photo-1594643566940-893b456ae452?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"); */
  position: relative;
  height:calc(96vw/7);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  align-items: center;

  background: red;
  transition: 0.25s ease-out;
  background-color: transparent;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;

}
.socialCalBody .row .selected {
  border: 1px solid #1890ff;
}
.socialCalBody .row .cell:first-child{
  border-left: 1px solid var(--border-color)
}
.socialCalBody .row .cell .hoverCell .bg{
  color: grey;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.hoverCell{
  position: relative;
  width: calc(96vw/7);
  height: calc(96vw/7);
}
.hoverCell:hover{
  background-color: #D3D3D3cc;
}

.hoverCell .buttonHolder {

  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.hoverCell .buttonHolder .plusButton{
  position: relative;
  width: calc(100%/3);
  color: transparent;
  font-size: 100%;
  z-index: 1;
}
.hoverCell .buttonHolder .plusButton:hover{
  transform: scale(1.2);
}
.hoverCell .buttonHolder .eyeButton{
  position: relative;
  color: transparent;
  width: calc(100%/3);

  font-size: 100%;
  z-index: 1;
}
.hoverCell .buttonHolder .eyeButton:hover{
  transform: scale(1.2)
}

.hoverCell .buttonHolder .eventButton{
  position: relative;
  color: transparent;
  width: calc(100%/3);

  font-size: 100%;
  z-index: 1;
}
 .hoverCell .buttonHolder .eventButton:hover{
  transform: scale(1.2)
}

.hoverCell .eventButtonAfter {
  position:relative;
  color: transparent;
  width: calc(100%/2);
  font-size: 100%;
  z-index: 1;
}
.hoverCell .eventButtonAfter:hover{
  transform: scale(1.2)
}
.hoverCell .eyeButtonAfter{
  position:relative;
  width: calc(100%/2);
  color: transparent;
  font-size: 100%;
  z-index: 1;
}
.hoverCell .eyeButtonAfter:hover{
  transform: scale(1.2)

}
.hoverCell .eyeButtonPass{
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: transparent;
  font-size: 40px;
  z-index: 1;
  /* transition: 0.5s; */
}
.hoverCell .eyeButtonPass:hover{
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.socialCalBody .row .cell .hoverCell .bgD{
  color: white;
  font-weight: 100;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 4;
}

.hoverCell:hover .buttonHolder .plusButton{
  color: white;
}
.hoverCell:hover .buttonHolder .eyeButton{
  color: white;
}
.hoverCell:hover .buttonHolder .eventButton{
  color:white;
}
.hoverCell:hover .eyeButtonPass{
  color: white;
}
.hoverCell:hover .eventButtonAfter{
  color: white;
}
.hoverCell:hover .eyeButtonAfter{
  color:white;
}

.hoverCell .imgCover {
  width: 100%;
  position: relative;
  height: 100%;
}

.hoverCell  .imgCover img{
  /* background-color: red; */

  object-fit: cover;
  width:100%;
  height:100%;
}

.hoverCell:hover .imgCover{
  filter: brightness(60%);
}

/* Headers for the social calendar */
.socialCalendar .socialHeader .icon {
  cursor: pointer;
  transition: .15s ease-out;
}
.socialCalendar .socialHeader .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}


/* CSS for the calendar cell box */
.coverCellBox{
  position: relative;
  width: 100%;
  height:762%;
  overflow: auto;
}

.coverCellBoxList {
  /* background-color: blue; */
  position: relative;
  width: 100%;
}
.coverCellBoxList .coverCellBoxItem {
  margin: 2px;
  width: 99%;
  height: 70px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
  font-weight: 400;
  font-family: "Segoe UI Regular";
}
.coverCellBoxList .coverCellBoxItem:hover {
}

.eventBoxBox{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eventBoxListHeader {
  position: relative;
  height: 24%;
  width: 100%;
  /* align-items: center;
  text-align: center; */
  display: flex;
  flex-direction: column;
}

.eventBoxListHeader .bg{
  color: grey;
  font-size: 15px;
  position: relative;
  width: 100%;
  left: 50%;
  height: 50%;
  transform: translateX(-50%);
  z-index: 3;
  text-align: center;

}

.eventBoxListHeader .buttonHolderHolder{
  position: relative;
  height: 50%;
  width: 100%;
}

.eventBoxListHeader .buttonHolderHolder .buttonHolder {
  position: relative;
  width: 50%;
  height: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;

  font-size:24px;
}

.eventBoxListHeader .buttonHolderHolder .buttonHolder .plusButton {
  position: relative;
  z-index: 1;
  width: calc(100%/3);
  display: flex;
}

.iconIcon{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: gray;
}
.iconIcon:hover{
  /* transform: scale(1.2) */

}

.eventBoxListHeader .buttonHolderHolder .buttonHolder .plusButton:hover{
  transform: scale(1.2)

}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eventButton {
  /* color: gainsboro; */
  position: relative;
  width: calc(100%/3);
  display: flex;

}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eventButton:hover{
  transform: scale(1.2)

}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eyeButton {
  /* color: red; */
  position: relative;
  width: calc(100%/3);
  display: flex;
}

.eventBoxListHeader .buttonHolderHolder .buttonHolder .eyeButton:hover{
  transform: scale(1.2)
}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eventButtonAfter {
  /* color: red; */
  position: relative;
  width: calc(100%/2);
  display: flex;
}

.eventBoxListHeader .buttonHolderHolder .buttonHolder .eventButtonAfter:hover {
  transform: scale(1.2);

}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eyeButtonAfter {
  /* color: red; */
  position: relative;
  width: calc(100%/2);
  display: flex;
}
.eventBoxListHeader .buttonHolderHolder .buttonHolder .eyeButtonAfter:hover {
  transform: scale(1.2);

}

.eventBoxListHeader .buttonHolderHolder .eyeButtonPass {
  /* color: red; */
  position: relative;
  height: 100%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: gray;

}

.eventBoxListHeader .buttonHolderHolder .eyeButtonPass:hover {

}

/* CSS for cover event list on calendar */

.joinEventButtonCover{
  background-color: limegreen;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 80%;
  height: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.joinEventButtonCover:hover{
  filter: brightness(90%);
}

.joinEventButtonCover .joinText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.alreadyJoinButtonCover{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  width: 80%;
  height: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.alreadyJoinButtonCover:hover{
  filter:brightness(90%);
}


.alreadyJoinButtonCoverHost{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  width: 80%;
  height: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;

}
.alreadyJoinButtonCoverHost .joinText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



.alreadyJoinButtonCover .joinText{
  position: relative;
  left: 20%;
  top: 2px;
  transform: translateX(-50%);
}


.alreadyViewButtonCoverPass{
  background-color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  width: 80%;
  height: 40%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: relative;
  text-align: center;

}
.alreadyViewButtonCoverPass:hover{
  filter: brightness(90%);
}

.alreadyViewButtonCoverPass .viewText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.alreadyJoinButtonCover .leaveText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.viewEventButtonCover{
  background-color: #1890ff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
  width: 80%;
  height: 60%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.viewEventButtonCover:hover{
  filter: brightness(90%);
}


.viewEventButtonCover .viewText{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

.coverCellEventText{
  position: relative;
  width: 100%;
  display: flex;
}

.coverCellTextSide{
  /* background-color: red; */
  width: 65%;
}

.coverCellTextSide .coverCellEventTitle{
  font-size: 18px;
}
.coverCellTextSide .coverCellEventTime{
  display: flex;
  font-size: 12px;
}
.coverCellTextSide .coverCellEventTime .timeNum{
  margin-left: 2px;
}

.coverCellTextSide .coverCellEventNum{
  display: flex;
  font-size: 10px;
}
.coverCellTextSide .coverCellEventNum .profileIcon{

}
.coverCellTextSide .coverCellEventNum .profileIcon .centerBox{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}
.coverCellTextSide .coverCellEventNum .likingCon{
  margin-left: 3px;
}
.coverCellTextSide .coverCellEventNum .likingCon .centerBox{
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}


.coverCellButtonSide{
  width: 35%;
  position: relative;

}

.coverCellButtonSide .miniEventButtonHolder{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.miniEventButtonHolder .miniButtonHolderTop{
  height: calc(100%/2);
}

.miniEventButtonHolder .miniButtonHolderBottom{
  height: calc(100%/2);
}



.img {
  /* width: 10px; */
  /* height: 20px; */
}
