.eventSyncForm {
  /* background-color: red; */
}

.eventSyncForm .radioCon{
  /* background-color: red; */
  position: relative;
  top: 20px;
}

.eventSyncForm .friendListCon {
  /* background-color: red; */
}

.eventSyncForm .radioCon .dayEsync {
  /* background-color:  red; */
  height: 60px;
  width: 460px;
  /* border: none; */
  text-align: center;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* border-left: 1px solid lightgrey */

}

.eventSyncForm .radioCon .dayEsync:hover{
  background-color: gainsboro;
  color: white;
}


.eventSyncForm .radioCon .dayEsync .syncTitle{
  font-size: 25px;
}

.eventSyncForm .radioCon .weekEsync {
  /* background-color: red; */
  height: 60px;
  width: 460px;
  text-align: center;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  /* border: none; */
}

.eventSyncForm .radioCon .weekEsync:hover{
  background-color: gainsboro;
  color: white;
}

.eventSyncForm .radioCon .weekEsync:hover{
  background-color: gainsboro;
  color: white;
}

.eventSyncForm .radioCon .weekEsync .syncTitle {
  font-size: 25px;
}

.eventSyncForm .friendListCon .friendList{
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}

.eventSyncForm .friendListCon .friendList .friendItem {
  background-color: gainsboro;
}

.eventSyncForm .friendListCon .friendList .friendItemHover{
  /* background-color: red; */
}

.eventSyncForm .friendListCon .friendList .friendItemHover:hover {
  background-color: gainsboro;
}

.eventSyncForm .syncButtonCon .syncButton{
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.eventSyncCalendarContainer {
  position: relative;
  left: 15px;
  width: 1285px;
  bottom: 0px;
  display: flex;
  /* background-color: blue; */
}


.eventSyncCalendarContainer .syncCalendar .syncBody .timecol {
  width: 50px;
  float: left;
  position:relative;
  top: 60px;
  height: 1000px;
  /* background-color: red; */
}

.eventSyncCalendarContainer .syncCalendar .syncBody .timecol .body .cell{
  position: relative;
  height: 60px;
  border-bottom: 1px solid grey;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.eventSyncCalendarContainer .syncCalendar .syncBody .timecol .body .cell:first-child{
  border-top: 1px solid grey;
}

.eventSyncCalendarContainer .syncCalendar .syncBody .timecol .body .cell .number {
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.eventSyncCalendarContainer .syncCalendar {
  display: block;
  position: relative;
  width: 90%;
  /* background: var(--neutral-color); */
  /* background-color: blue; */
  /* border: 1px solid var(--border-color); */
}

.eventSyncCalendarContainer .syncCalendar .syncHeader{
  /* background-color: red; */
  width: 1000px;
  position: relative;
  left: 50px;
}

.eventSyncCalendarContainer .syncCalendar .syncHeader .header {
  position: relative;
  text-transform: uppercase;
  font-weight: 100;
  font-size:30px;
  padding: 0em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 150px;
}

.eventSyncCalendarContainer .col-center {
  justify-content: center;
  text-align: center;
}

/* Use the one below to control the widht of the day row on top */
.eventSyncCalendarContainer .syncCalendar .syncHeader .days {
  text-transform: uppercase;
  font-weight: 400;
  color: ;
  font-size: 13px;
  /* padding: .75em 0; */
  height: 40px;
  border-bottom: 1px solid var(--border-color);
  border-left: 2px solid darkgrey;
  /* border: 1px solid; */
  width: 1000px;
  /* background-color: blue; */
}


.eventSyncCalendarContainer .syncCalendar .syncBody .syncGrid .body .disabled{
  color: var(--text-color-light);
  color: black;
  pointer-events: none;
  /* background-color: blue; */
}

.syncCol {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.eventSyncCalendarContainer .syncCalendar .syncBody {
  /* background-color: red; */
  display: flex;
  overflow: auto;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
  width: 1060px;
}

.eventSyncCalendarContainer .syncCalendar .syncBody .syncGrid .body{
  /* background-color: red; */
  width: 1000px;
}


.eventSyncCalendarContainer .syncCalendar .syncBody .syncGrid .body .hourcell{
  position: relative;
  height: 60px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* overflow: hidden; */
  cursor: pointer;
  background: var(--neutral-color);
  /* background-color: lightskyblue; */
}

.eventSyncCalendarContainer .syncCalendar .syncBody .syncGrid .body .nonhourcell{
  position: relative;
  height: 60px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* overflow: hidden; */
  cursor: pointer;
  background: var(--neutral-color);
  background-color: lightskyblue;
}

.eventSyncCalendarContainer .syncCalendar .syncBody .syncGrd .body .hourcell .monthlist{
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.eventSyncCalendarContainer .syncCalendar .body .hourcell .monthlist .monthListItem {
  background-color: lightblue;
  text-align: center;
}

.eventSyncCalendarContainer .syncCalendar .body .hourcell .monthlist .monthListItem .eventSyncItem{
  font-size: 7pt;
  color: white;
  left: 10px;
}
