/* Holds all the calendars */
/* Stuff under here are shared among all the calendars */
.calendarContainer{
  position: relative;
  width: 96vw;
  height: 93vh;
  top:7%;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI Regular";
}

.calendarContainer .mainCalContainer{
  width: 82.5%;
  position: relative;
  padding: 0;
  /* background-color: blue */
}

.weekCalendar {
  position: relative;
  width: 100%;
  left: 0%;
}

.topHeaderCal{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width: 100%;
}

.weekCalendar .header {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  position: relative;
  left: 51.5%;
  transform: translateX(-50%);
  width: 45%;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
}

.weekCalendar .header .arrowLeft{
  /* background-color: red; */
  position: absolute;

  width: 10%;
  left: 0;
}

.weekCalendar .header .midText{
  position: relative;
}

.weekCalendar .header .arrowRight{
  /* background-color: blue; */
  position: absolute;
  right: 0;
  width: 10%;
}

@media screen and (max-width:1000px){
  .miniCalContainer {
    /* display:none; */
  }
  .mainCalContainer{
    /* width: 100%; */
  }
}

.calendarDropDownCSS{
  position: relative;
  left:40%;
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 14px;
}

.calendarContainer .miniCalContainer {
  position:relative;
  width: 17.5%;
  /* background-color: green; */
}

.miniCalContainer .weekCreateEvent {
  /* background-color: red; */
  position: relative;
  top: 50px;
  width: 80%;
  font-size: 14px;
  margin-bottom: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  left:50%;
  transform: translateX(-50%);
}

.miniCalContainer .miniEventSyncButton {
  /* background-color: red; */
  position: relative;
  top: 75px;
  width: 80%;
  font-size: 14px;
  margin-bottom: 50px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  left:50%;
  transform: translateX(-50%);
}


.miniCalendar {
  /* background-color: red; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  top: 10px;
  /* color: white; */
}

.miniCalendar .header{
  /* text-transform: uppercase; */
  position: relative;
  font-weight: 700;
  font-size: 100%;
  width: 100%;
  border-bottom: 3px solid var(--border-color);
  /* background-color: red; */
  color:#1890ff;
  display: flex;
  flex-direction: row;
}

.miniCalendar .header .arrowLeft{
  position: absolute;
  left: 0;
  cursor: pointer;
}

.miniCalendar .header .arrowRight{
  position: absolute;
  right: 0;
  cursor: pointer;
}

.miniCalendar .header .miniMonth{
  position: relative;
}


.miniCalContainer .miniCalendar .miniCol{
  flex-grow: 1;
  flex-basis: 0;
  /* max-width: 80%; */
  text-align:center;
  font-family: "Segoe UI Regular";
  font-weight: 500;
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .miniCol-center{
  font-family: "Segoe UI Regular";
  font-weight: 700;
}



.miniCalContainer .miniCalendar .miniRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}


.miniCalContainer .miniCalendar .body .miniCol{
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  /* background-color: red; */

}

.miniCalContainer .miniCalendar .body .miniCell{
  position: relative;
  height: 20px;
  width: 5em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
  font-size: 11px;
}

.miniCalendar .body .miniRow .miniDayIn{
  color: black;
}

.miniCalendar .body .miniRow .miniDayOut{
  color: gray;
}

.miniCalendar .body .miniRow .miniDayIn:hover{
  transform: scale(1.25);
  transition: .1s ease-out;
}

.miniCalendar .body .miniRow .miniDayOut:hover{
  transform: scale(1.25);
  transition: .1s ease-out;
}





/* Shared between week, month */
/* Day has it but doesnt use it */

.weekCalendar .weekDays {
  font-weight: 100;
  font-size: 100%;
  width: 96.9%;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  position: relative;
  left: 3%;
}

.weekCalendar .weekDays .weekcol {
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  font-size: 12px;

}

.weekCalendar .weekDays .weekcol:first {

}


/* This will be specific to the week and day calendar */
.scrollCalContent{
  overflow:hidden;
  width: 100%;
  height: 78vh;
  /* background-color: red; */
}

.scrollCalContent .weekDayFlex-Container{
  display: flex;
  overflow: auto;
  /* background-color: red; */
  /* overflow-y: hidden; */
  width: 101%;
  height: 78vh;
  border-top: 2px solid;
  border-color: darkgrey;
}

.scrollCalContent .weekDayFlex-Container .timecol{
  width: 3%;
  float: left;
  position:relative;
  /* background-color: red; */
}



.scrollCalContent .weekDayFlex-Container .calendar{
  display: block;
  position: relative;
  width: 96.7%;
  /* background-color: red; */
  /* border: 1px solid var(--border-color); */
}

.scrollCalContent .weekDayFlex-Container .calendar .scrollBody{
  width: 100%;
  height: 1104px;
  background-color: white;
}

.sideTime {

}

.sideTime .cell{
  position: relative;
  top: 45.5px;
  height: 46px;
  border-top: 1px solid grey;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.sideTime .cell .number{
  font-size: 73.5%;
  line-height: 1;
  font-weight: 10;
  position: relative;

}


.popOverSizeSolo{
  padding:20px;
   width:400px;
}

.popOverSizeMultiple{
  padding:20px;
  width:450px;
}


/* This is for weekcalendar specficially */
.backWeekBody{
  margin: 0;
  padding: 0;
  column-count: 7;
  column-gap: 0.35%;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */
}
.backWeekBody .backWeekCol {
  flex-grow: 0;
  /* background-color: red; */
  flex-basis: calc(100%/7);
}

.backWeekBody .hourcellT{
  position: relative;
  height: 23px;
  border-left: 1px solid #d9d9d9;
  /* border-bottom: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  /* background: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}
.backWeekBody .hourcellB{
  position: relative;
  height: 23px;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  /* background: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}

.weekBody{
  display: grid;
  /* border-bottom: 1px solid var(--border-color); */
  /* grid-auto-flow: dense; */
  width: 100%;
  grid-template-columns: repeat(7, 13.8%);
  grid-template-rows: repeat(48, 20.3px);
  /* background-color: red; */
  grid-column-gap: 0.55%;
  grid-row-gap: 2.8px;
  position:absolute;
  top: 0;
  left: 0;
}


/* This is for day calendar specifically */
.backDayBody{

}



/* This is for the day view */
.backDayBody .dayCellT {
  position: relative;
  /* background-color: red; */
  height: 23px;
  border-left: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  /* background-color: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}

.backDayBody .dayCellB {
  position: relative;
  /* background-color: red; */
  height: 23px;
  /* border-top: 1px solid var(--border-color); */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid #d9d9d9;
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
  z-index: 1;
}

.dayBody {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: repeat(48, 20.3px);
  grid-row-gap: 2.8px;
  position:absolute;
  top: 0;
  left: 0;
  /* background-color: red; */
}



/* This will be month calendar specific */
.monthCalContainer{
  position: relative;
  left: 3%;
  width: 96.7%;
  /* background-color: red; */
  height: 80vh;
  overflow: hidden;
}

.monthCalContainer .monthBody {
  position: relative;
  width: 101.25%;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  overflow: auto;
  height: 80vh;

}

.monthCalContainer .monthBody .monthRow {
  display: grid;
  grid-template-columns: repeat(7, 14.17%);
  /* grid-template-rows: repeat(6, 11.05px); */
  grid-template-rows: repeat(6, 22px);
  grid-auto-flow: dense;
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  border-bottom: 1px solid #D9D9D9;
  /* border-right: 1px solid var(--border-color); */
  /* background-color: red; */
}

.monthCalContainer .monthBody .monthRow .calendarNum {
  grid-row-start: 1;
  text-align: right;
  /* background-color: red; */
  border-right: 1px solid #D9D9D9;
  height: 142px;
  /* cursor: pointer; */
}

.monthCalContainer .monthBody .monthRow .calendarNumCur{
  grid-row-start: 1;
  text-align: right;
  /* background-color: white; */
  border-right: 1px solid #D9D9D9;
  height: 142px;
  border: 1px solid blue;
}

/* This will be year specific */
.yearMonthContainer {
  position: relative;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  height: 85vh;
}

.yearMonthContainer .yearMonthCell{
  flex-grow: 0;
  width: calc(92%/4);
  cursor: pointer;
  position: relative;
  /* height: 20em; */
  margin: 1%;
}

.yearMonthTitle{
  font-size: 18px;
  text-align: center;
  color:#1890ff;
}

.yearMonthContainer .yearMonthCell .yearMonthTitle:hover{
  /* transform: scale(1.); */
  /* transition: .2s ease-out; */
}


.yearWeekContainer{
  /* background-color: red; */
  display: flex;
  width: 100%;
  border-bottom: 4px solid #D9D9D9;
}
.yearWeekContainer .yearWeekDays{
  width: calc(100%/7);
  text-align: center;
}

.yearDayContainer{
  /* background-color: red; */
  position: relative;
  width: 100%;
}

.yearDayContainer .yearDaysRows{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.yearDayContainer .yearDaysRows .yearDayIn{
  width: calc(100%/7);
  text-align: center;
  color: black;
}

.yearDayContainer .yearDaysRows .yearDayOut{
  width: calc(100%/7);
  text-align: center;
  color: #8c8c8c;
}

.yearDayContainer .yearDaysRows .yearDayIn:hover{
  transform: scale(1.25);
  transition: .1s ease-out;
}

.yearDayContainer .yearDaysRows .yearDayOut:hover{
  transform: scale(1.25);
  transition: .1s ease-out;
}



.calendar .body .yearcell .monthcell .yearRow .monthDayCell {
  position: relative;
  height: 38px;
  /* border-right: 1px solid var(--border-color); */
  line-height: 40px;
  text-align:center;
  overflow: hidden;
  cursor: pointer;
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  /* background-color: red; */
  /* background: var(--neutral-color); */
}

.calendar .body .yearcell .monthcell .yearRow .monthDayCell:hover{
  font-size: 25px;
  max-height: 2em;
  line-height: 20px;
  margin-top: 5px;
  /* margin-left: 1px; */
  /* margin-right: 1px; */
  margin-bottom: -20px;
}


.calendar .body .yearcell .monthcell .yearRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */

}

.calendar .body .yearRow {
  display: grid;
  grid-template-columns: repeat(7, 216px);
  grid-template-rows: repeat(6, 25px);
  grid-auto-flow: dense;
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  /* height: 10px; */
  /* border-bottom: 1px solid var(--border-color); */
  /* border-right: 1px solid var(--border-color); */
  /* background-color: red; */
}


/* This is for the minicalendar */






.outerContainerPeople{

  /* margin-bottom: 15px; */
  /* background-color: red; */
}

.popoverPic{
  object-fit: cover;
  width:90px;
  height:90px;
  border-radius: 10px;
  margin-top: -140px;
  box-shadow:  0 10px 50px rgba(0, 0, 0, 0.1);
}

.buttonSize{
  font-size:80px;
}

.deleteModal{
  /* background-color: red; */
  /* z-index: 100; */
}



.innerContainerPeople{
  position: relative;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /* background: red; */
}
.highlightWord:hover {
  color: #3399FF;
  text-decoration: underline;
  cursor: pointer;
}

.testLook{
  opacity: 0.6;
  border-radius: 5px;
}


.icon {
  font-style: normal;
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;

   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {

    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;

}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  /* max-width: 1200px; */
  margin-bottom: 10em;
}


/* this is to hold all the functions */
.sideCalendarBarContainer{

}

/* Container that holds Calendar,
controls all colors and font weight */


.weekCalContainer {
  position: relative;
  right: 180px;
  width: 1695px;
  /* height: 1000px; */
  bottom: 100px;
  /* background-color: yellow; */
  display: flex;
}


/* GRID */
/* Do not change this because alot of other parts use this */
.flex-container {
  display: flex;
  position: relative;
  left: 30px;
  /* background-color: red; */
  /* width: 10px; */
}





.dayFlex-Container{
  display: flex;
  overflow: auto;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
  width: 1370px;
  /* background-color: red; */
}

.row {
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */
}



.row-middle {
  align-items: center;
}

.weekcolcell{
  float: center;
  /* background-color: red; */

}


.col {
  flex-grow: 1;
  flex-basis: 0;
  /* width: 40px; */
  max-width: 100%;
  /* color:black; */
  /* background-color: red; */
}



/* current day color */
.cellBorder {
  /* background-color: red; */
  border-top: 4px solid #69c0ff;
  /* color: blue; */
}




.col-start {
  justify-content: flex-start;
  text-align: left;

  /* width: 20px; */
  /* background-color: red; */
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Side hours */
/* This is for the week tabs in the personalcalendar */
.flex-container .sidecol{
  position: relative;
  width: 10px;
  left: 75px;
  top: 225px;
  height: 10px;
  /* background-color: orange; */
}



/* This is for the side bars tabs in the PersonalCalendar */
.flex-container .sidecol .sideBar{
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  bottom: 15px;

}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder {
  transform: rotate(-90deg);
  padding-bottom: 125px;

}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder .tabs{
   width: 165px;
   height: 35px;
   background: deepskyblue;
   border-radius: 5px;
   transform: perspective(5px) rotateX(2deg);
   transform-origin: bottom;

}

.flex-container .sidecol .sideBar .holder .tabs:hover{
  opacity:0.8;
  transition: 0.2 ease-in;
}








.calendar .dayBody .eventsDay{
  /* background-color: red; */
  width:80%;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .dayBody .eventsDayAccept{
  /* background-color: red; */
  width:80%;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  /* box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .dayBody .eventsDay:hover{
  background-color: lightgrey;
  transition: .25 ease-out;
}


/* Calendar */
/* this will help control the width of the calendar */
.flex-container .calendar{
  width: 1455px;
  /* background-color: blue; */
}




.weekCalendar .dayHeader {
  font-weight: 400;
  font-size: 17px;
  padding: 1em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 850px;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
  /* background-color: red; */
}

.weekCalendar .header .icon{
  cursor: pointer;
  transition: .15s ease-out;
  /* background-color: red; */
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.weekCalendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  width: 1310px;
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  /* border-top: 1px solid var(--border-color); */
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}

.calendar .yearDays {
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
}

.weekDayHover:hover{
  background-color: #1890ff;
  border-radius: 20px;
  padding-right:5px;
  padding-left:5px;
  cursor: pointer;
  color:white;
}
.calendar .weekDays {
  /* text-transform: uppercase; */
  cursor: pointer;

  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}


.weekCalendar .dayDays {
  font-weight: 100;
  color: ;
  font-size: 100%;
  height: 44px;
  /* padding: .75em 0; */
  /* border-top: 1px solid var(--border-color); */
  /* border-bottom: 1px solid var(--border-color); */
  /* border-right: 1px solid var(--border-color); */
  width: 1310px;
  /* background-color: red; */
}

.calendar .body .row .cell {
  position: relative;
  height: 10em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
}

.calendar .body .row .testItem {
  background-color: red;
  grid-row-start:1;
}

.calendar .body .row .cell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .row .monthEvent {
  /* background-color: lightblue; */
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .body .row .monthEventAccept {
  /* background-color: lightblue; */
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  /* box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .body .row .monthEvent:hover {
  /* background-color: lightgrey; */
  /* transition: .25 ease-out; */
  filter: brightness(1.2);

}

/* cell of the week */
.weekEvent{
  color: white;
  /* padding-top: 2px; */
  /* margin-bottom: 100px; */
  /* this makes events rounded but gonna take it out for now */
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12), 2px 3px 4px rgba(0, 0, 0, 0.24);
  width:100%;
  height: 100%;
  z-index: 1;
}

.eventPageTitle{
  font-size: 14px;
  margin-left: 5px;
  white-space:nowrap;
}

.eventTimeInfo{
  font-size: 12px;
  margin-left: 5px;
}

.weekEventAccept{
  /* background-color: black; */
  color: white;
  font-size: 15px;
  /* this makes events rounded but gonna take it out for now */
  /* border-radius: 10px; */
  /* box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  width:100%;
  height: 100%;
  /* grid-column: 1/7; */
  z-index: 1;
}

.weekEventAccept:before {
  content: "";
  position: relative;
  top: -1px;
  right: -1px;
  transform:translate(50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
  mix-blend-mode:darken;
}

.weekDayFlex-Container .calendar .weekBody .weekEvent:hover{
  background-color: lightgrey;
  transition: .25 ease-out;
  /* background-color: red; */
}


.calendar .  .cell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
  }

.calendar .body .cell .monthList .monthListItem .eventTime{
  font-size: 7pt;
  color: white;
  left: 10px;
}




.calendarContainer .mainWeekCalContainer{
  width: 1600px;
  position: relative;
  right: 55px;
  top: -100px;

  /* padding-left: 25px; */
  /* background-color: orange; */
}

.weekEvent .pointerEvent{
    pointer-events: none;
}

.scrollBody .testContainer {
  height: 0px;
}

/* This is for the minicalendar */
.miniflex-container{
  display: flex;
}

.miniflex-container .miniSidecol{
  position: relative;
  top: 40px;
}

.miniflex-container .miniSidecol .minisideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniflex-container .miniSidecol .minisideBar .miniholder{
  transform: rotate(-90deg);
  position: relative;
  padding-bottom: 0.8em;
  padding-left: 0px;
  top: 7px;
  left: 0px;
  width: 0px;
  /* background-color: red; */
}

.miniflex-container .miniSidecol .minisideBar .miniholder .minitabs{
  width: 1em;
  height: 30px;
  background: deepskyblue;
  border-radius: 5px;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}










.miniCalContainer .addEventButton:hover {
  border: none;
  color: white;
  background-image: linear-gradient(to bottom right, #43cea2 , #185a9d);
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;

  width: 150px;
  top: 40px;
  height: 50px;
  font-size: 20px;
  transform: scale(1.05) perspective(1px)

}



.miniCalContainer .miniCalendar .days{
  text-transform: uppercase;
  font-size: 13px;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  /* background-color: red; */

}






.miniCalContainer .miniCalendar .miniBody .miniRow{
  /* background-color: red; */
}





/* This is to control the year view */




.calendar .body .yearcell .yearDays {
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  /* background-color: red; */
}



/* this is to hel format the list in each cell in the weekview */
.calendar .body .hourcell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

/* This is to change the color of the items in the list in week view */
.calendar .body .hourcell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}


.calendar .body .daycell .uppertab {
  position: relative;
  height: 25px;
}

.calendar .body .daycell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .daycell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .hourcell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .daycell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

/* For the sizing of the calendar, you have to fix again sometime soon
to make it adjustable */








.calendar .weekBorder {
  background-color: white;
  /* position: absolute; */
  top: 100;
  left: 1000px;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
}


.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .row .cell:last-child {
  border-right: none;
}

.calendar .body .daycell:last-child {
  border-right: none;
}

/* This is for the upper part of the cell in the PersonalCalendar */
.calendar .body .row .cell .uppertab{
  grid-row-start: 1;
  grid-row-end: 4;
  height: 25px;
}

.calendar .body .row .cell .uppertab .uppertab .circle .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;

}

.calendar .body .cell .uppertab .circle{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  top: .01em;
  right: .01em;
}

.calendar .body .cell .circle:hover {
  background-color: #bbb;
}

.calendar .body .daycell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

/* this one is for the disabled color for the month view */
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}


.calendar .body .cell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .hourcell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 4em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .daycell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .hourcell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .daycell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}


.calendar .body .weekcol {
  flex-grow: 0;
  background-color: black;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}



.calendar .sidepanel {
  float: left;
  height: 240em;
  min-width: 10px;
  max-width: 50px;
  width: 40%;
  background: #e6f2ff  ;

  overflow: hidden;
  position: relative;
}

.calendar .sidepanel .sidecell{
  border-bottom: 3px solid var(--border-color);
  height: 104px;
}
