.outerContainerPeople{
  height:100px;
  margin-bottom: 15px;
  /* background-color: red; */
}

.innerContainerPeople{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.highlightWord:hover {
  color: #3399FF;
  text-decoration: underline;
  cursor: pointer;
}


.icon {
  font-style: normal;
   display: inline-block;
   vertical-align: middle;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;

   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: 'liga';
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {

    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  /* max-width: 1200px; */
  margin-bottom: 10em;
}


/* this is to hold all the functions */
.sideCalendarBarContainer{

}

/* Container that holds Calendar */
.calendarContainer{
  position: relative;
  left: 6%;
  width: 1830px;
  height: 920px;
  bottom: 30px;
  background-color: white;
  display: flex;
}

.weekCalContainer {
  position: relative;
  right: 180px;
  width: 1395px;
  /* height: 1000px; */
  bottom: 100px;
  /* background-color: yellow; */
  display: flex;
}


/* GRID */
/* Do not change this because alot of other parts use this */
.flex-container {
  display: flex;
  position: relative;
  left: 10px;
  /* background-color: red; */
  /* width: 10px; */
}

.testBox{
  overflow:hidden;
  width: 1360px;
  /* background-color: red; */
}

.weekDayFlex-Container{
  display: flex;
  overflow: auto;
  /* overflow-y: hidden; */
  width: 1370px;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
}

.dayFlex-Container{
  display: flex;
  overflow: auto;
  height: 780px;
  border-top: 2px solid;
  border-color: darkgrey;
  width: 1370px;
  /* background-color: red; */
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */
}

.yearRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.weekcolcell{
  float: center;

}


.col {
  flex-grow: 1;
  flex-basis: 0;
  /* width: 40px; */
  max-width: 100%;
  /* color:black; */
  /* background-color: red; */
}

.weekcol {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  /* border-right: 1px solid ; */
  /* background-color: red; */
  /* border-left: 2px solid; */
  /* border-color: darkgrey; */
}

/* current day color */
.cellBorder {
  /* background-color: red; */
  border-top: 4px solid #69c0ff;
  /* color: blue; */
}
.cellBorderHeader{
  color: blue;
}
.cellBorderMonth{
  border: 1px solid red;
}

.weekCalendar .weekDays .weekcol:hover {
 background-color: gainsboro;
}

.weekcol:first-child{
  /* border-left: 2px solid; */
  /* border-color: darkgrey; */
}

.col-start {
  justify-content: flex-start;
  text-align: left;
  /* width: 20px; */
  /* background-color: red; */
}

.col-center {
  justify-content: center;
  text-align: center;
  /* background-color: red; */
  /* width: 40px; */
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Side hours */
/* This is for the week tabs in the personalcalendar */
.flex-container .sidecol{
  position: relative;
  width: 10px;
  left: 50px;
  top: 225px;
  height: 10px;
  /* background-color: orange; */
}

/* This is for the time side bar for the weekCalendar */
.weekDayFlex-Container .timecol{
  width: 50px;
  float: left;
  position:relative;
  top: 40px;
  /* background-color: red; */

}

.dayFlex-Container .timecol{
  width: 50px;
  float: left;
  position:relative;
  top: 50px;
  /* background-color: red; */

}

/* This is for the side bars tabs in the PersonalCalendar */
.flex-container .sidecol .sideBar{
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  bottom: 15px;

}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder {
  transform: rotate(-90deg);
  padding-bottom: 125px;
  padding-left: 30px;
}

/* PersonalCalendar weekbar */
.flex-container .sidecol .sideBar .holder .tabs{
   width: 165px;
   height: 35px;
   background: deepskyblue;
   border-radius: 5px;
   transform: perspective(5px) rotateX(2deg);
   transform-origin: bottom;

}

.flex-container .sidecol .sideBar .holder .tabs:hover{
  background: lightgrey;
  transition: 0.2 ease-in;
}


.calendar .body {
  background-color: white;
  width: 1315px;
}



.calendar .dayBody {
  position: relative;
  display: grid;
  grid-template-rows: repeat(48, 24px);
  grid-row-gap: 1px;
  top: -1200px;
  /* background-color: red; */
}

.calendar .dayBody .eventsDay{
  /* background-color: red; */
  width:80%;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .dayBody .eventsDayAccept{
  /* background-color: red; */
  width:80%;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  /* box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .dayBody .eventsDay:hover{
  background-color: lightgrey;
  transition: .25 ease-out;
}



/* this is for the date time for week calendar */
.calendarContainer .weekDayFlex-Container.timecol .body .cell:first-child{
  /* border-top: 1px solid grey; */
  /* background-color: red; */
}

/* time side for weekCalendar */
.calendarContainer .weekDayFlex-Container .timecol .body .cell{
  position: relative;
  top: 10px;
  height: 50px;
  border-top: 1px solid grey;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
  width: 70px;
  /* background-color: blue; */
}

.calendarContainer .dayFlex-Container .timecol .body .cell{
  position: relative;
  height: 50px;
  border-top: 1px solid grey;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
  width: 70px;
  /* background-color: blue; */
}


.calendarContainer .weekDayFlex-Container .timecol .body .cell .number{
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 10;
}

.calendarContainer .dayFlex-Container .timecol .body .cell .number{
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 10;
}

/* Calendar */
/* this will help control the width of the calendar */
.flex-container .calendar{
  width: 1455px;
  /* background-color: blue; */
}


.calendar {
  display: block;
  position: relative;
  width: 100%;
  /* background-color: red; */
  background: var(--neutral-color);
  /* border: 1px solid var(--border-color); */
}

.weekCalendar {
  display: block;
  position: relative;
  left: 50px;
  width: 1310px;
  background: var(--neutral-color);
  /* border: 1px solid var(--border-color); */
  /* background-color: black; */
}

.calendar .header {
  /* text-transform: uppercase; */
  font-weight: 400;
  font-size: 15px;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 600px;
}


.weekCalendar .header {
  /* text-transform: uppercase; */
  font-weight: 400;
  font-size: 21px;
  padding: 1em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 580px;
}

.weekCalendar .dayHeader {
  font-weight: 400;
  font-size: 17px;
  padding: 1em 0;
  /* border-bottom: 1px solid var(--border-color); */
  /* background-color: blue; */
  width: 850px;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
  /* background-color: red; */
}

.weekCalendar .header .icon{
  cursor: pointer;
  transition: .15s ease-out;
  /* background-color: red; */
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.weekCalendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  /* text-transform: uppercase; */
  width: 1310px;
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  /* border-top: 1px solid var(--border-color); */
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}

.calendar .yearDays {
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
}

.calendar .weekDays {
  /* text-transform: uppercase; */
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
  /* width: 700px; */
}

.weekCalendar .weekDays {
  font-weight: 100;
  color: ;
  font-size: 100%;
  /* padding: .75em 0; */
  /* border-top: 1px solid var(--border-color); */
  /* border-bottom: 1px solid var(--border-color); */
  /* border-right: 1px solid var(--border-color); */
  width: 1310px;
  /* background-color: red; */
}

.weekCalendar .dayDays {
  font-weight: 100;
  color: ;
  font-size: 100%;
  height: 44px;
  /* padding: .75em 0; */
  /* border-top: 1px solid var(--border-color); */
  /* border-bottom: 1px solid var(--border-color); */
  /* border-right: 1px solid var(--border-color); */
  width: 1310px;
  /* background-color: red; */
}

.calendar .body .row .cell {
  position: relative;
  height: 10em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
}

.calendar .body .row .testItem {
  background-color: red;
  grid-row-start:1;
}

.calendar .body .row .cell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .row .monthEvent {
  /* background-color: lightblue; */
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  /* grid-column: 1/7; */
  z-index: 1;
}

.calendar .body .row .monthEvent:hover {
  /* background-color: lightgrey; */
  /* transition: .25 ease-out; */
  filter: brightness(1.2);

}

/* cell of the week */
.weekDayFlex-Container .calendar .weekBody .weekEvent{
  /* background-color: red; */
  color: white;
  font-size: 15px;
  /* this makes events rounded but gonna take it out for now */
  /* border-radius: 10px; */
  padding-left: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12), 2px 3px 4px rgba(0, 0, 0, 0.24);
  width:95%;
  /* grid-column: 1/7; */
  z-index: 1;
}

.weekDayFlex-Container .calendar .weekBody .weekEventAccept{
  /* background-color: red; */
  color: white;
  font-size: 15px;
  /* this makes events rounded but gonna take it out for now */
  /* border-radius: 10px; */
  padding-left: 10px;
  /* box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
  width:95%;
  /* grid-column: 1/7; */
  z-index: 1;
}

.weekDayFlex-Container .calendar .weekBody .weekEvent:hover{
  background-color: lightgrey;
  transition: .25 ease-out;
  /* background-color: red; */
}


.calendar .  .cell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
  }

.calendar .body .cell .monthList .monthListItem .eventTime{
  font-size: 7pt;
  color: white;
  left: 10px;
}


.calendarContainer .mainCalContainer{
  width: 1500px;
  position: relative;
  left: 15px;
  top: 0px;
  padding: 0;
  /* padding-left: 25px; */
  /* background-color: orange; */
}

.calendarContainer .mainWeekCalContainer{
  width: 1600px;
  position: relative;
  right: 55px;
  top: -100px;

  /* padding-left: 25px; */
  /* background-color: orange; */
}

.calendar .scrollBody {
  height: 1000px;
  margin-bottom: 0px;
  /* width: 1306px; */
  /* vertical-align: top; */
  /* background-color: red; */
}

.weekEvent .pointerEvent{
    pointer-events: none;
}

.scrollBody .testContainer {
  height: 0px;
}

/* This is for the minicalendar */
.miniflex-container{
  display: flex;
}

.miniflex-container .miniSidecol{
  position: relative;
  top: 40px;
}

.miniflex-container .miniSidecol .minisideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.miniflex-container .miniSidecol .minisideBar .miniholder{
  transform: rotate(-90deg);
  position: relative;
  padding-bottom: 0.8em;
  padding-left: 0px;
  top: 7px;
  left: 0px;
  width: 0px;
  /* background-color: red; */
}

.miniflex-container .miniSidecol .minisideBar .miniholder .minitabs{
  width: 1em;
  height: 30px;
  background: deepskyblue;
  border-radius: 5px;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

.miniCalContainer {
  position:relative;
  margin-right: 25px;

  /* height: 10px; */
  /* background-color: red; */
}


.miniCalContainer .miniCalendar {
  /* background-color: red; */
  /* width: 1000px; */
  /* height: 100px; */
  color:black;
  position: relative;
  top: 80px;
  /* height: 300px; */
  left: 80px;
  width: 300px;
  /* color: white; */
}

.miniCalContainer .addEventButton {
  border: none;
  color: white;
  /* background-image: linear-gradient(to bottom right, #43cea2 , #185a9d); */
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;

  width: 250px;
  top: 40px;
  height: 50px;
  font-size: 20px;
}

.miniCalContainer .timeLayerCon{
  /* background-color: red; */
  width: 300px;
  position: relative;
  top: 200px;
  left: 40px;
}

.miniCalContainer .timeLayerCon .yearButton {
  background-color: #89ABE3FF;
  border: none;
  left:20px;
  width: 120px;
  height: 40px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.miniCalContainer .timeLayerCon .monthButton {
  background-color: #FFD662FF;
  position: relative;
  left: 35px;
  border: none;
  width: 120px;
  height: 40px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.miniCalContainer .timeLayerCon .weekButton {
  background-color: #4B878BFF;
  border: none;
  position: relative;
  top: 20px;
  width: 150px;
  height: 40px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.miniCalContainer .miniEventSyncButton {
  /* background-color: red; */
  position: relative;
  top: 80px;
  left:80px;
  width: 250px;
  margin-bottom: 50px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.miniCalContainer .selectView {
  /* background-color: red; */

  position: relative;
  top: 80px;
  left:80px;
  width: 250px;
  margin-bottom: 50px;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.miniCalContainer .addEventButton:hover {
  border: none;
  color: white;
  background-image: linear-gradient(to bottom right, #43cea2 , #185a9d);
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  left: 110px;
  width: 150px;
  top: 40px;
  height: 50px;
  font-size: 20px;
  transform: scale(1.05) perspective(1px)

}

.miniCalContainer .miniCalendar .header{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  /* width: 100px; */
  /* padding: 10em 10px; */
  border-bottom: 3px solid var(--border-color);
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .days{
  text-transform: uppercase;
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;

}

.miniCalContainer .miniCalendar .miniCol{
  flex-grow: 1;
  flex-basis: 0;
  /* max-width: 80%; */
  text-align:center;
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .miniCol-center{

}


.miniCalContainer .miniCalendar .miniCol .miniMonth{
  /* color: white; */
}

.miniCalContainer .miniCalendar .miniCol .miniMonth:hover{
  background-color: lightgrey;
  cursor: pointer;
  /* color: white; */
}

.miniCalContainer .miniCalendar .miniCol .icon:hover {
  transform: scale(1.5);
}



.miniCalContainer .miniCalendar .miniRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
}

.miniCalContainer .miniCalendar .miniBody .miniRow{
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .body .miniCol{
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
  /* background-color: red; */
}

.miniCalContainer .miniCalendar .body .miniCell{
  position: relative;
  height: 40px;
  width: 5em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
  transition: 0.25s ease-out;
  font-size: 15px;
}

.miniCalContainer .miniCalendar .body .miniRow .miniCell .miniDay:hover{
  font-size: 15px;
  line-height: 15px;
}

/* // entire right side container */
.calendarContainer .miniCalContainer{
  flex-grow: 0;
  flex-shrink: 0;
  background-color:#e6f7ff;
  /* flex-basis: 100%; */
  position: relative;
  left:-75px;
  /* right: 200px; */
  width: 350px;
  /* top: 110px; */
  /* background-color:#696969; */
  /* background-color:#000080; */

  opacity: 0.8;
}


/* This is to control the year view */
.calendar .body .yearcol {
  flex-grow: 0;
  flex-basis: calc(100%/4);
  width: calc(100%/4);
  padding: 10px;
  /* background-color: red; */
}

.calendar .body .yearcell {
  position: relative;
  height: 20em;
  /* background-color: red; */
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .yearcell .monthBox {
  /* background-image: linear-gradient(to bottom right, #43cea2 , #185a9d); */
  font-size: 20px;
  text-align: center;

  color: white;

}

.calendar .body .yearcell .monthBox:hover {
  /* font-size: 20px; */
  /* transform: scale(1.75); */
  transition: .2s ease-out;
}

.calendar .body .yearcell .yearDays {
  font-weight: 400;
  color: ;
  font-size: 100%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  /* background-color: red; */
}

.calendar .body .yearcell .monthcell .yearRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */

}

.calendar .body .yearcell .monthcell .yearRow .monthCellCol {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendar .body .yearcell .monthcell .yearRow .monthDayCell {
  position: relative;
  height: 38px;
  /* border-right: 1px solid var(--border-color); */
  line-height: 40px;
  text-align:center;
  overflow: hidden;
  cursor: pointer;
  /* background: var(--neutral-color); */
}

.calendar .body .yearcell .monthcell .yearRow .monthDayCell:hover{
  font-size: 25px;
  max-height: 2em;
  line-height: 20px;
  margin-top: 5px;
  /* margin-left: 1px; */
  /* margin-right: 1px; */
  margin-bottom: -20px;
}

/* .calendar .body .yearcell .monthcell .yearRow .monthDayCell .dayText:hover{
  font-size: 25px;
  transition: .2s ease-out;
} */



/* This is for the week view and to control the cell size */
.calendar .scrollBody .backWeekBody .hourcellT {
  position: relative;
  height: 25px;
  border-left: 1px solid var(--border-color);
  /* border-bottom: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  /* background: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}

.calendar .scrollBody .backWeekBody .hourcellB {
  position: relative;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  /* background: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}

.calendar .scrollBody .backWeekBody .weekFlexRow{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: blue; */
}

/* this is to hel format the list in each cell in the weekview */
.calendar .body .hourcell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

/* This is to change the color of the items in the list in week view */
.calendar .body .hourcell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}

/* This is for the day view */
.calendar .backDayBody .dayCellT {
  position: relative;
  /* background-color: red; */
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  /* background-color: red; */
  transition: 0.25s ease-out;
  z-index: 1;
}

.calendar .backDayBody .dayCellB {
  position: relative;
  /* background-color: red; */
  height: 25px;
  /* border-top: 1px solid var(--border-color); */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  z-index: 1;
}

.calendar .body .daycell .uppertab {
  position: relative;
  height: 25px;
}

.calendar .body .daycell .monthList {
  list-style-type:none;
  width: 150%;
  position: relative;
  right: 50px;
}

.calendar .body .daycell .monthList .monthListItem{
  background-color: lightblue;
  text-align: center;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .hourcell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .daycell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

/* For the sizing of the calendar, you have to fix again sometime soon
to make it adjustable */
.calendar .body .row {
  display: grid;
  grid-template-columns: repeat(7, 187px);
  grid-template-rows: repeat(6, 25px);
  grid-auto-flow: dense;
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  /* background-color: red; */
}

.calendar .body .yearRow {
  display: grid;
  grid-template-columns: repeat(7, 216px);
  grid-template-rows: repeat(6, 25px);
  grid-auto-flow: dense;
  grid-row-gap: 2px;
  grid-column-gap: 1px;
  /* height: 10px; */
  /* border-bottom: 1px solid var(--border-color); */
  /* border-right: 1px solid var(--border-color); */
  /* background-color: red; */
}

.calendar .body .dayYearRow{
  display: grid;
  grid-template-columns: repeat(7, 46.5px);
  text-align: center;
  /* grid-template-rows: repeat(6, 25px); */
  grid-auto-flow: dense;
  border-bottom: 3px solid var(--border-color);
  /* grid-column-gap: 1px; */
  /* background-color: red; */
}



.weekDayFlex-Container .calendar .weekBody{
  display: grid;
  border-bottom: 1px solid var(--border-color);
  /* grid-auto-flow: dense; */
  grid-template-columns: repeat(7, 186px);
  grid-template-rows: repeat(48, 24.1px);
  /* background-color: red; */
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  position:relative;
  top: -1202px;

}

.calendar .weekBorder {
  background-color: white;
  /* position: absolute; */
  top: 100;
  left: 1000px;
  height: 80px;
  border-bottom: 1px solid var(--border-color);
}


.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .row .cell:last-child {
  border-right: none;
}

.calendar .body .daycell:last-child {
  border-right: none;
}

/* This is for the upper part of the cell in the PersonalCalendar */
.calendar .body .row .cell .uppertab{
  grid-row-start: 1;
  grid-row-end: 4;
  height: 25px;
}

.calendar .body .row .cell .uppertab .uppertab .circle .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;

}

.calendar .body .cell .uppertab .circle{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  top: .01em;
  right: .01em;
}

.calendar .body .cell .circle:hover {
  background-color: #bbb;
}

/* This is to test for day number on each column */
.calendar .body .row .calendarNum {
  grid-row-start: 1;
  text-align: right;
  background-color: white;
  border-right: 1px solid var(--border-color);
  height: 160px;
  /* cursor: pointer; */
}

.calendar .body .row .calendarNumCur{
  grid-row-start: 1;
  text-align: right;
  background-color: white;
  border-right: 1px solid var(--border-color);
  height: 160px;
  border: 1px solid blue;
}


.calendar .weekBody .weekRow .testNumber {

}

.calendar .body .daycell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

/* this one is for the disabled color for the month view */
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}


.calendar .body .cell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .hourcell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 4em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .daycell .bg {
  pointer-events: none;
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .hourcell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .daycell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .scrollBody .backWeekBody {
  margin: 0;
  padding: 0;
  column-count: 7;
  column-gap: 0px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  width: 1305px;
  /* background-color: blue; */

}

.calendar .scrollBody .backWeekBody .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  /* background-color: red; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* width: calc(100%/7); */
}

.calendar .body .weekcol {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}



.calendar .sidepanel {
  float: left;
  height: 240em;
  min-width: 10px;
  max-width: 50px;
  width: 40%;
  background: #e6f2ff  ;
  color: black;
  overflow: hidden;
  position: relative;
}

.calendar .sidepanel .sidecell{
  border-bottom: 3px solid var(--border-color);
  height: 104px;
}
