

.reactForm {
  font-family: "Segoe UI Regular";
  font-weight: 550;
}


.reactForm .reactTitle {
  /* outline: none; */
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 25px;
  height: 40px;

}


.reactForm .reactTitle:focus{
  box-shadow: none;
  border-bottom: 2px solid deepskyblue;
}



.reactForm .reactContent{
  font-size: 20px;

  margin: 0;
}

.reactColor {
  position: absolute;
  left: 325px;
  top: 5px;
  width: 50px;
  /* background-color: red; */
}

.reactForm .reactLocation{
  font-size: 2px;
  height:10px;
}

.reactForm .aim {
  position: absolute;
  text-align: center;
  top: -9px;
  left: 275px;
  /* background-color: red; */
  font-size: 25px;
}

.reactForm .aim:hover {
  /* line-height: 10px; */
  font-size: 30px;
}


.reactForm .timepicker {
  /* height: 10px; */
  /* background-color: red; */
  padding-top: 20px;
}

.reactForm .timepicker .datePicker{
  /* background-color: red; */
  /* border: none; */
  border: 1px solid red;
  border-radius: 5px;
  /* border-bottom: 2px solid deepskyblue; */
}

.reactForm .clearButtonCon {
  /* background-color: red; */
  width: 100px;
  position: absolute;
  left: 80px;
}

.reactForm .submitButtonCon{
  /* background-color: red; */
  width: 100px;
  position: absolute;
  left: 200px;
  top: 0px;
}
