.label {
  font-size: 30px;
}

.reduxTitle {
  /* background-color: red; */
  width: 300px;
  padding-bottom: 15px;
}

.eventSyncPickerForm{
  /* background-color: red; */
  position: relative;
  left: 20px;
  top: 60px;
  height: 350px;
}

.reduxTitle .box {
  /* background-color: red; */
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 20px;
  height: 40px;
  width: 350px;
  /* padding-bottom: 100px; */
}

.reduxTitle .box:focus {
  box-shadow: none;
  border-bottom: 2px solid deepskyblue;
}

.reduxContent{
  /* background-color: red; */
  width: 300px;
  padding-bottom: 10px;
  margin-left: 30px
}

.reduxContent .box{
  font-size: 15px;
  margin: 0;
  width: 350px;
}

.reduxLocation {
  /* background-color: red; */
  width: 400px;
}


.reduxLocation .box{
  font-size: 20px;
  width: 300px;
}

.reduxLocation .aim {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.reduxLocation .aim:hover {
  font-size: 30px;
}

.reduxLocation .reduxColor {
  width: 50px;
}

.reduxDateRange {
  /* background-color: red; */
  width: 300px;
  margin-top:10px;
  padding-bottom: 10px;
}

.reduxDateRange .endDate{
  /* padding-top: 20px; */
  width: 300px;
}

.reduxDateRange .datePicker {
  /* border: 1px solid red; */
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;

}


.reduxTimePicker {
  /* background-color: red; */
  margin-left: 30px;
  width: 300px;
}

.reduxTimePicker .timebox{
  width: 110px;
}

.reduxButton {
  /* background-color:red; */
  width: 160px;
  position: relative;
  left: 252px;
  top: 10px;
}

.eventSyncButton {
  position: relative;
  width: 350px;
  left: 50px;
  top: 30px;
  /* background-color: red; */
}

.eventSyncButton .clearButton {
  width: 100px;
  position: absolute;
  left: 80px;
}

.eventSyncButton .eventSyncButton {
  width: 100px;
  position: absolute;
  left: 200px;
  top: 0px;
}
