/* These are for the NewChat.js */
.chatContainer {
  /* background-color: blue; */

  position: relative;
  height: 93vh;
  width: 100%;
  top:7%;
  /* overflow: hidden; */
  /* left: 3.8%; */
  display: flex;
  flex-wrap: wrap;
}

@media screen {
  .chatContainer .chatRightSide{
    width: 50%;
  }
}

@media screen and (max-width:1000px){
  .chatContainer .chatLeftSide{
    display: none;

  }
  .chatContainer .chatRightSide {
    /* background-color: blue; */
    width: 70%;
  }

}



.chatContainer .chatLeftSide{
  background-color: white;
  padding:10px;
  width: 23%;
  height: 100%;
  /* float:left; */
}

.mainChatUserName{
  font-weight: 500;
  color:black;
  margin-top: 15px;
  font-size: 25px;
}


.mainChatUserUserName{
  font-weight: 500;
  color:#8c8c8c;
  margin-top: 15px;
  font-size: 18px;
}

.chatContainer .chatRightSide{
  /* display: flex; */
  /* flex-direction: column; */
  position: relative;
  /* background-color: red; */
  /* width: 50%; */
  height: 100%;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}


/* This is for the add chats feature */
.chatContainer .chatRightSide .addNewChatContainer{
  position:relative;
  width: 100%;
  height: 100%;
}
.chatContainer .chatRightSide .addNewChatContainer .searchFormBox{
  /* background-color: red; */
  position: relative;
  height: 8%;
  width: 100%;
}
.chatContainer .chatRightSide .addNewChatContainer .searchFormBox .searchForm{
  /* background-color: red; */
  width: 90%;
  display: flex;
  position: relative;
  top: 30%;
}

.chatContainer .chatRightSide .addNewChatContainer .searchFormBox .searchForm .toText{
  font-size: 18px;
  margin-right: 10px;
  font-family: Segoe UI Regular;
  font-weight: 400;
  margin-left: 10px;

}
.chatContainer .chatRightSide .addNewChatContainer .searchFormBox .searchForm .searchBox{
  /* background-color: red; */
  /* border: none; */
    /* top: 50%; */
  /* display: none; */

  width: 100%;
}


.chatContainer .chatRightSide .addNewChatContainer .searchChatContent{
  /* background-color: blue; */
  height: 85%;
}




/* This will be the css that governs the chat box */
.newChatTextContainer{
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* chatListItem pretty much is the container that holds the
  chat bubble
 */
.newChatTextContainer .chatListItemL{
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Segoe UI Regular';

}

.newChatTextContainer .chatListItemR{
  position: relative;
  width: 100%;
  height: auto;
  text-align: right;
  font-family: 'Segoe UI Regular';

}

.chatListItemL .textMessageLeft{
  /* display: inline-block; */
  position: relative;
  display:inline-block;

  flex-direction: row;
  padding: 10px 15px;
  margin: 2px 15px 5px 10px;
  border-radius: 20px;
  max-width: 45%;
  /* line-height: 130%; */
  background:#E8E8E8;
  font-size: 15px;

}

.chatListItemR .textMessageRight{
  position: relative;
  clear:both;
  display: inline-block;
  padding: 10px 15px;
  margin: 2px 15px 5px 15px;
  border-radius: 20px;
  max-width: 45%;
  /* line-height: 130%; */
  background: #00BFFF;
  color: #f5f5f5;
  font-size: 15px;

}

.messageRight{
  text-align: justify;
}

.insideMessasgeHolder{
  display: flex;
}

.messageAvatarHolder{
  position: relative;
  width: 30px;
}
.messageAvatar{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor:pointer;
}

.messageTextHolder{
  position: relative;
  width: 90%;
  margin-left: 5px;
}
.messageText{
  float:left;
}
.messageText .userName{
  color: grey;
  font-size: 14px;
  cursor:pointer;
}
.messageText .eventMessage{
}
.messageText .eventTimeStamp{
  font-size: 9px;
}

.messageEventContainerR{
  position: relative;
  width: 45%;
  display: inline-block;
  /* font-size: 16px; */
  text-align: left;
  margin: 2px 15px 5px 15px;
}

.messageEventContainerL{
  position: relative;
  width: 45%;
  display: inline-block;
  /* font-size: 16px; */
  text-align: left;
  margin: 2px 15px 5px 15px;
  padding:10px;
  overflow: hidden;

  background: white;
  line-height: 150%;
  border-radius: 15px;
  padding:10px;
  box-shadow:  0 10px 50px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI Regular';
  background:#E8E8E8;

}

.messageEventAvatarHolder{
  position: relative;
  width: 30px;
  padding-top: 10px;
}

.messageEventTextHolder{
  position: relative;
  width: 90%;
  margin-left: 5px;
  padding: 10px;
}


.messageEventTitleText{
  font-size: 14px;
}





.chatTextBoxRight{
  display: inline-block;
  float:left;
  margin: 10px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
  position: relative;
  background-color: red;
  text-align: right;

}

.newChatTextContainer .chatTextBox{
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
  position: relative;
}







.searchChatInput{
  position: absolute;
  bottom: 0px;
  height: 7%;
  width: 100%;
}

.searchChatInput .searchChatInputBox{
  position: relative;
  left: 25%;
  /* background-color: red; */
  width: 73%;
  /* top: 10px; */
}


/* This is for chat newManageChatHeader.js */
.chatContainer .chatLeftSide .newManageChatHeader{
  /* background-color: red; */
  height: 7%;
  width: 100%;
  position:relative;
  display: flex;
  margin-bottom: 10px;
}
.createChatButtonContainer{
  /* background-color: red; */
  text-align: center;
}
.manageChatForm{
  /* background-color: red; */
  position:relative;
  height: 100%;
  width: 90%;
  padding-left: 5px;
}
.manageChatForm .searchInput{
  position: relative;
  top: 20px;
  left:1%;
  box-sizing: border-box;
  width: 100%;
  height: 60%;
  border-radius: 15px;
  background-color: whitesmoke;
}
.newManageChatHeader .addChatsButton{
  /* background-color: red; */
  position:relative;
  font-size: 2.2vw;
  width: 15%;
  text-align: center;
  cursor: pointer;
}

.newUserSearchChat{
  margin-left: 10px;
  font-family: 'Segoe UI Regular';
  font-size: 16px;
  font-weight: 400;

}


/* This is for the nochatscreen.js */
.chatContainer .chatRightSide .noChatsScreen{
  /* background-color: red; */
  position: relative;
  padding-top: 40%;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
}
.chatContainer .chatRightSide .noChatsScreen .noChatsWord{
  color: gray;
  font-size: 2vw;
  text-align: center;
}

.chatContainer .chatLeftSide .newSidePanel{
  /* background-color: white; */
  width: 100%;
  height: 93%;
  overflow: auto;
}


/* This is for the CurChatManager */
.chatContainer .chatFarRightSide{
    background-color: white;
    position: relative;
    width: 27%;
}
.chatContainer .chatFarRightSide .chatManagerContainer{
  /* background-color: blue; */
  text-align: center;
  position: relative;
  top: 5%;
  height:60%;

}
.chatContainer .chatFarRightSide .chatManagerContainer .chatGroupBox{
  /* background-color: red; */
  position: relative;
  /* top: 25px; */


}
.chatContainer .chatFarRightSide .chatManagerContainer .chatGroupBox .chatName{
  font-size: 20px;
  font-weight: 400;
  color: black;
}
.chatContainer .chatFarRightSide .chatManagerContainer .chatGroupBox .chatGroupAva{
  background-color: gainsboro;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 125px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.chatContainer .chatFarRightSide .chatManagerContainer .chatRightSideBox{
  /* background-color: green; */
  position: relative;
  /* top: 25px; */
  cursor: pointer;
}

.chatContainer .chatFarRightSide .chatManagerContainer .chatMemberList{
  /* background-color: red; */
  position:relative;

  top: 10%;

  /* overflow-y: auto; */
  /* margin-left: 20px; */
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  /* overflow: auto; */
  /* height: 400px; */
  text-align: left;
}
.chatContainer .chatFarRightSide .chatManagerContainer .chatMemberList .chatMemberText{
  font-size: 20px;
  font-weight: 500;

  color:black;
}
.chatContainer .chatFarRightSide .chatManagerContainer .chatMemberList .groupMemberList{
  overflow: auto;

  height:150px;
}

/* This is for the chat content page */
.chatContainer .chatRightSide .newChatContent{
  /* margin-top: 50px; */
  /* background-color: blue; */
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  height: 100%;
  position: relative;
}
.chatContainer .chatRightSide .newChatContent .chatWrapContainer{
  /* background-color: red; */
  height: 93%;

}


.chatNameTime {
  display: flex;
  position:absolute;
  left: 50px;
  top: 3px;
}
.chatNameTimeRight {
  display: flex;
  position:absolute;
  right: 50px;
  top: 3px;
  /* background-color: red; */
}


.chatNameTime .chatName {
  font-size: 14px;
  position: relative;
  bottom: 6px;
  font-weight: 400;
}
.chatContentText{
  position: relative;
  width: 50%;
  left: 50px;
  bottom: 35px;
  font-size: 14px;
  font-weight: 400;
}
.chatContentTextRight{
  position: relative;
  text-align: left;
  width: 50%;
  left: 44%;
  bottom: 35px;
  font-family: 'Segoe UI Regular';
  /* background-color: blue; */
}
.chatContainer .chatRightSide .newChatContent .bottomBox{
  position: absolute;
  bottom: 0px;
  height: 7.5%;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  /* background-color: red; */
}

.chatContainer .chatRightSide .newChatContent .bottomBox .formInputs{
  position: relative;

  /* background-color: red; */
  left:3%;
  width: 90%;
  /* top: 10px; */
}
.formInputs .sendButton{
  /* background-color: yellow; */
  top:40%;
  position:absolute;
  margin-left: 10px;
  font-size: 25px;
}


.chatInput{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  height: 35px;
  border-radius: 25px;
  background-color: whitesmoke;
}




.chatItem {
  padding: 10px;
  height: 90px;
  width: 100%;
}
.chatItem.current{
  background-color: whitesmoke;
}
.chatItem .chatWrap{
  display: flex;
}
.chatItem .chatWrap .chatGroupAva{
  position: relative;
  margin-top: 10px;
/* background-color: red; */
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 40px;
  margin-right: 10px;

}
.chatItem .chatWrap .chatGroupAva .icon{
  position: relative;
  left: 10px;
}
.chatItem .chatWrap .chatAva{
  margin-top: 12px;
  margin-right: 10px;
}
.chatItem .chatWrap .chatText{
  margin-left: 5px;
  margin-top: 15px;
}
.chatItem .chatWrap .chatText .chatName {
  font-weight: 500;
  font-size: 16px;
  color: black;
}
.chatItem .chatWrap .chatText .chatDescription{
  font-weight: 400;
  font-size: 14px;
  color:grey;
}
.chatItem .chatWrap .chatText .chatDescription.active{
  font-weight: bold;
  color: black;
}
