.chatContainer {
  background-color: white;

  position: absolute;
  height: 92.5vh;
  width: 100%;
  top: 30%;
  left: 4%;
  display: flex;
}

.chatContainer .chatLeftSide{
  background-color: white;
  width: 23%;
  height: 100%;
}

.chatContainer .chatRightSide{
  display: flex;
  flex-direction: column;
  background-color: "white";
  width: 77%;
  height: 100%;
}

.chatContainer .chatLeftSide .newSidePanel{
  /* background-color: white; */
  width: 100%;
  height: 100%;
}


.chatContainer .chatRightSide .newChatContent{
  background-color: white;
  border: 1px solid gray;
  height: 92%;
  position: relative;
}
.chatContainer .chatRightSide .newChatContent .bottomBox{
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
  border: 1px solid grey;
}

.chatContainer .chatRightSide .newChatContent .bottomBox .formInputs{
  position: relative;
  left: 40%;
  /* top: 10px; */
}
.chatContainer .chatRightSide .newChatContent .bottomBox .formInputs .sendButton{
  color: dodgerblue;
  font-size: 30px;
  position: relative;
  left: 25px;
  top: 7px;
  cursor: pointer;

}

.chatContainer .chatRightSide .newChatHeader{
  background-color: white;
  border: 1px solid grey;
  height: 8%;
  position: relative;
}
.chatContainer .chatRightSide .newChatHeader .avaHeader{
  margin-top: 10px;
  margin-left: 10px;
}
.chatContainer .chatRightSide .newChatHeader .nameHeader{
  font-size: 25px;
  position: relative;
  top: 5px;
  left: 5px;

}

.chatInput{
  width: 700px;
  height: 40px;
  border-radius: 25px;
  background-color: whitesmoke;
}

.chatItem {
  padding: 10px;
  background-color: ;
  height: 90px;
  width: 100%;
}
.chatItem .chatWrap{
  display: flex;
}
.chatItem .chatWrap .chatAva{
  margin-top: 12px;
}
.chatItem .chatWrap .chatText{
  margin-left: 5px;
  margin-top: 10px;
}

.chatItem .chatWrap .chatText .chatName {
  font-size: 20px;
  color: black;
}
