/* This is the css for the share event modal */

.chatEventShare{
  /* background-color: red; */
  position: relative;
  display:flex;
  width: 100%;
}

.chatEventShare .chatEventShareLeft{
  /* background-color: red; */
  /* overflow: auto; */
  /* height: 500px; */
  width: 40%;
}

.chatEventShare .chatEventShareLeft .searchChatContainer {
  /* background-color: red; */
  /* height: 300px; */
}
.chatEventShare .chatEventShareLeft .searchChatContainer .searchForm{
  /* width: 10px; */
}
.chatEventShare .chatEventShareLeft .searchChatContainer .searchForm .input{
  /* border-radius: 5px; */
}

.chatEventShare .chatEventShareLeft .eventListContainer {
  /* background-color: red; */
  overflow: auto;
  height: 480px;
}

.chatEvent{
  /* background-color: red; */
  /* border: 1px solid gray; */
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 3px;
}
.chatEvent .title{
  /* background-color: red; */
}

.chatEvent .infoBox{
  display: flex;
}
.chatEvent .infoBox .times{

}
.chatEvent .infoBox .times .text{
  margin-left: 3px;
}
.chatEvent .infoBox .numPeople{
  /* color:red; */
}
.chatEvent .infoBox .numPeople .text{
  margin-left: 3px;
  /* color: red; */
}
.chatEvent .infoBox .date{

}
.chatEvent .infoBox .date .text{

}

.chatEvent .shareEventButton {
  /* color: red; */
  position: absolute;
  z-index: 100;
  left: 85%;
  top: 20%;
  font-size: 25px;
  cursor: pointer;
}
.chatEvent .shareEventButton:hover {
  transform: scale(1.3);
}
