/* The back grey part of the modal */
.userPostModalBackground{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  /* background:red; */
  z-index: 1002;


}


/* The outter part of the modal  */
.userPostModal{
  position: relative;
  background: white;
  /* height: 100; */
  top: 4%;
  left:5%;
  right: 10%;
  z-index: 100;
  width:90%;
  height:90%;

  color:black;
  font-weight: 500;
  font-family: "Segoe UI Regular";
}



/* This will hold the pictures of the modal */
.postHolder{
  display: flex;
  height: 100%;
  /* background-color: red; */

}
.postHolder .postPicturesCarousel{
  width: 80%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  /* background-color: red; */
}

.postHolder .postPicturesCarousel .singlePic{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* This will hold all the information on the right of the modal */
.postModalRight{
  /* background-color: blue; */
  position: relative;
  bottom: 0px;
  padding:1%;
  height: 100%;

  width: 35%;

}
 .captionUniversal{
  position: relative;
  padding-left: 5%;
  padding-right: 2%;
  font-size: 14px;
}

.postModalRight .postNameTag{
  /* background-color: green; */
  height: 80px;
  display: flex;
  padding: 20px;

}
.postModalRight .postNameTag .postName{
  position: relative;
  left: 0%;
  top: 0%;
  font-size: 22px;
  margin-left: 10px;
}
.postModalRight .postNameTag .postNameUsername{
  position: relative;
  left: 5px;
  bottom: 5px;
  font-weight: 500;
}
.postModalRight .postNameTag .postTimeStamp{
  position: absolute;
  top: 25px;
  right: 40px;
}

.cellThreeDots{
  /* position: relative;
  left: 60%;
  bottom: 10%;
  font-size: 25px; */
}

.postLikeCommentNum {
  display: flex;
  height: 40px;
  /* background: blue; */
  margin-top: 10px;
}
.postLikeCommentNum .postLikeCommentText{
  margin-left: 30px;
  position: relative;
  top: 8px;
  height: 20px;
}
 .postLikeAvatar{
   margin-left: auto;
   order: 2;
   margin-right: 10px;
   margin-top: -5px;
  /* background: red; */
}


.postLikeComment{
  display: flex;
}
.postLikeComment .postLike{
  height: 40px;
  width: 50%;
  border: 1px solid gainsboro;
  border-left: none;
  text-align: center;
  margin-left: 2px;
  padding-top: 8px;
  cursor: pointer;
}
.postLikeComment .postLike:hover{
  background-color: gainsboro;
}
.postLikeComment .postComment{
  height: 40px;
  width: 50%;
  border: 1px solid gainsboro;
  border-right: none;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}
.postLikeComment .postComment:hover{
  background-color: gainsboro;
}


/* This part is for the comment area of the post */
.postCommentBoxBox{
  /* height: 75.5%; */
  position:relative;
  width: 100%;
  overflow:hidden;
  /* background-color: red; */
  max-height: 70%;
}
/*
.postCommentBoxBox.hasCaption{
  height: 65%;
} */

.middleDot{
  position:relative;

}

.postCommentBox{
  height: 100%;
  width: 500px;
  padding-left: 20px;
  overflow:auto;
}

.postCommentBox .postCommentItem {
  /* was 10  */
  margin-top: 10px;
  height:50px;

}
.postCommentBox .postCommentItem .postCommentNameTag{
  /* background-color: red; */
  display: flex;
  line-height: 80%;
}
.postCommentBox .postCommentItem .postCommentNameTag .postCommentName{
  display: flex;
  margin-left: 10px;
}

.postCommentUsername{
  font-weight: 350;
  font-size: 13px;

}

.postCommentDate{
  /* background-color: red; */
  color:#bfbfbf;
  position: absolute;
  left: 90%;
  /* top: 10%; */
  height: 20px;
  font-size: 12px;
  padding-top: 5px;

}

.postCommentContainer{

}

.postCommentChild{
  display:inline-block;
  vertical-align: middle;
  line-height: 125%;
}



.postCommentText{
  /* background-color: red; */
  position: relative;
  width: 340px;

  /* top: 50%; */
  left: 9.65%;
  top: -15px;
}
.postCommentInput{
  display:flex;
  /* background: red; */
  position:relative;
  float:right;
  width:100%;
  height:5%;

}

.postPicInput{

}
.postBoxInput{
  flex:1;
  position:absolute;
  left:10%;
  width: 90%;
  font-size: 15px;
}



.postCarousel{

}


.leftArrowPost{
  float:left;
  font-size: 30px;
  top:47%;
  left:1%;
  position:absolute;
}

.rightArrowPost{
  float:right;
  font-size: 30px;
  top:47%;
  left:65%;
  position:absolute;
}



.postLeftRight{

}

.postLeftRight .postArrowLeft{
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 0%;
  font-size: 45px;
}

.postLeftRight .postArrowRight{
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  left: 67%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;
}
