.notification-count {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 5px;
  width: 20px;
  height: 20px;
  line-height: 30px;
  font-size: 13px;
  padding-left: 3px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;

  /* animation: zoom 2s 2s both; */
}

.notificationInside{
  position: relative;
  transform: translateX(50%)  translateY(-50%);
  left:15%;
  bottom:25%;
  font-weight: 600;
}


.headerNotificationButton {
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 12px;
  width: 20px;
  height: 20px;
  line-height: 30px;
  font-size: 13px;
  padding-left: 3px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;
  /* animation: zoom 2s 2s both; */
}
