
.everythingContainer{
  /* background-color: red; */
  display: flex;
  width: 100vw;
  position: relative;

}

@media screen and (max-width: 1000px){
  .everythingContainer .sideMenuContainer aside{
    display: none;
    /* width: 0%; */
  }
  .show-sidebar aside {
    /* width: 210px; */
  }


}

/* @media all and (min-width: 1000px) and {
  .everythingContainer .sideMenuContainer{
    display: none;
  }
} */

.everythingContainer .sideMenuContainer{
  position: relative;
  background-color: white;
}



@media screen and (min-height: 540px) and (max-height: 780px) {
    .sideBarHeight {
        height:'40%';
        position:'absolute';
        background: white;
    }
}

@media screen and (min-height: 780px) {
    .sideBarHeight {
        height:'50%';
        position:'absolute';
        background: white;
    }
}




.toggle {
  /* background: blue; */
  color:black;
  position:relative;
  font-size: 1em;
  width:1vw;
  float:left;

}





#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 40px;
  cursor: pointer;
  transition: color 0.3s;

}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;

}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  width:500;
}

.badgeTest{
  all: revert
}

.sideMenuName{
font-weight: 500;
font-size: 15px;

}

.testThis{
  font-size: 40px;
}

.ant-menu{
background: #f5222d;
}



.HeaderPosition{
  margin-top: -10px;
  padding-bottom: 80px;
}

.site-layout .site-layout-background {
  background: #fff;
  /* background-color: black; */
}

.appearBefore{
   z-index: 3;
}

.SideMenuAppearBefore{
   z-index: 5;
}

.miniProfilePic {
  /* background-color: red; */
  margin-right: 10px;
}

.backgroundofEverything{
  width:100vw;
  height:100vh;
  /* background:pink; */
  position: relative;

  left: 0%;
}




    /*
  p.show-sidebar {
    overflow: hidden; }
    p.show-sidebar:before {
      opacity: 1;
      visibility: visible; } */

.site-section {
  padding: 7rem 0; }
/*
  aside, main {
    height: 74vh;
    min-height: 580px;
  } */


aside {

  width:4vw;
  left: 0;
  border-right: 1px solid #f0f0f0;
  z-index: 1001;
  position: relative;
  height: 100%;
  /* -webkit-transform: translateX(0px); */
  /* -ms-transform: translateX(0px); */
  /* transform: translateX(0px); */
  background-color: #fff;
  -webkit-transition: 0.7s width cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.7s width cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.7s width cubic-bezier(0.23, 1, 0.32, 1); }

  /* width when opened sidemenu */
  .show-sidebar aside {
    width:210px;

    /* -webkit-transform: translateX(0%); */
    /* -ms-transform: translateX(0%); */
    /* transform: translateX(0%);  */
  }
  aside .toggle {
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  aside .side-inner {
    padding: 30px 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    position: relative;
  }
    aside .side-inner::-webkit-scrollbar {
      display: none; }
    aside .side-inner .logo-wrap {
      display: block;
      /* background-color: red; */
      position: fixed;
      /* width: 5%; */
      float: left;
    }


      aside .side-inner .logo-wrap .logo {
        width: 2.5vw;
        float: left;
        height: 2.5vw;
        background: #007bff;
        border-radius: 50%;
        position: relative;
        -webkit-transition: .3s margin ease;
        -o-transition: .3s margin ease;
        transition: .3s margin ease;
        margin: 0 auto 50px 10px; }
        .show-sidebar aside .side-inner .logo-wrap .logo {
          margin: 0 auto 50px 20px;

        }
      .show-sidebar aside .side-inner .logo-wrap .logo{
        width: 50px;
        height: 50px;
      }
        /* logo of closed side menu */
        aside .side-inner .logo-wrap .logo span {
          position: absolute;
          color: #fff;
          font-size: 1.2vw;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      }
      .show-sidebar aside .side-inner .logo-wrap .logo span{
        font-size: 1.5rem;

      }
      aside .side-inner .logo-wrap .logo-text {
        position: absolute;
        top: 10%;
        font-size: 20px;
        margin-left: 5px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        opacity: 0;
        visibility: hidden; }
        .show-sidebar aside .side-inner .logo-wrap .logo-text {
          opacity: 1;
          font-weight: 600;
          visibility: visible; }


    aside .side-inner .nav-menu {
      margin-bottom: 50px;
      clear: both;

    }

    aside .side-inner .nav-menu ul{
      position: fixed;
      width: 3.5%;
      /* background-color: red; */
      top: 110px;

    }

    .show-sidebar aside .side-inner .nav-menu ul{
      width: 210px;
    }

      /* make padding 0 rather than 35% */
      aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
        padding: 0;
        margin: 0px;
        list-style: none;

      }
      aside .side-inner .nav-menu ul li a {
        display: block;
        padding-left: 35%;
        /* padding-right: 50px; */
        padding-top: 20px;
        padding-bottom: 20px;
        color: #b1b1b1;
        position: relative;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        font-size: 100%;
      }
      .show-sidebar aside .side-inner .nav-menu ul li a {
        padding-left: 30px;
      }
        aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
          outline: none; }
        aside .side-inner .nav-menu ul li a:hover {
          color: #000;
          background: #f4f4f4;
          width: 4vw;
        }

        .show-sidebar aside .side-inner .nav-menu ul li a:hover{
          color: #000;
          background: #f4f4f4;
          width: 210px;
        }
        aside .side-inner .nav-menu ul li a .wrap-icon {
          font-size: 1.2rem; }
        aside .side-inner .nav-menu ul li a .menu-text {
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          .show-sidebar aside .side-inner .nav-menu ul li a .menu-text {
            -webkit-transition: 0s all ease;
            -o-transition: 0s all ease;
            transition: 0s all ease;
            opacity: 1;
            visibility: visible; }
      aside .side-inner .nav-menu ul li.active a {
        color: #000; }
