#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 40px;
  cursor: pointer;
  transition: color 0.3s;

}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;

}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  width:500;
}

.badgeTest{
  all: revert
}

.sideMenuName{
font-weight: 500;
font-size: 15px;

}

.testThis{
  font-size: 40px;
}

.ant-menu{
background: #f5222d;
}



.HeaderPosition{
  margin-top: -10px;
  padding-bottom: 80px;
}

.site-layout .site-layout-background {
  background: #fff;
  /* background-color: black; */
}

.appearBefore{
   z-index: 3;
}

.SideMenuAppearBefore{
   z-index: 5;
}

.miniProfilePic {
  /* background-color: red; */
  margin-right: 10px;
}
