.circle{
  position: absolute;
  height: 400px;
  width: 400px;
  top: -15%;
  right: 7%;
}

.circle1{
  background: #446ccf;
  position: absolute;
  height: 75vw;
  width: 75vw;
  top: 90%;
  left: 3%;
  border-radius: 50vw;
}

.circle2{
  background: #446ccf;
  position: relative;
  height: 400px;
  width: 400px;
  top: 10%;
  right: 2%;
  border-radius: 50vw;
}



.imageHolder{
  position: absolute;
  width: 500px;
  left: 60%;
  top: 50%;
  transform: translateY(-50%);
  /* background: blue; */

}




.headline{
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  /* background: red; */
}

.problemList{
  position: relative;
  width: 100vw;
  height: 130vh;
  overflow: hidden;
}

.aboutUs{
  position: relative;
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}




.CTA{
  position: relative;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vw;
}

.socialMedia{
  position: relative;
  width: 100vw;
  height: 10vh;
  overflow: hidden;
  text-align: center;

}

.logoNew{
  /* position: absolute;
  top: 5%;
  left: 2%; */
}




/* stuff that will need adjusting accordingly */

.headlineHolder{
  width: 37%;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: black;
}



.question1{
  width: 45%;
}
.question2{
  width: 80%;
}



.feature{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: relative;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


.miniCircle{
  height: 300px;
  width: 300px;
  background: #446ccf;
  border-radius: 150px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  overflow: hidden;
}


.circleWidth{
  width: 30%;
  position:relative;
}
.whyWidth{
  width: 70%;
  position:relative;
}



.submitVideo{


  top: 10%;
  left:50%;
  position: absolute;

  transform: translateX(-50%);
}

.buttonInSubmitVideo{
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}


.miniNameHolder{
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.copyRight{
  position: relative;
  top: 50%;
}

.imagePictures{
  width: 100%;

}
.whyImage{
  height: 100%;
}
.imagePicturesH{
  height: 100%;
  position: relative;
  right: 50%;
}

.divider{
  border-top: 10px;
  width: 10%;
  height: 5px;
  left: 50%;
  margin-bottom: 25px;
  transform: translateX(-50%);
  position: relative;
  background: gray;
  /* border-color: black; */
}

.incuHolder{

  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  height: 30%;
}

.halfImageHolder{
  height: 20px;
  top: 50%;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.holderHolder{
  background-color: pink;
  width: 30%;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.incu{
  margin: 20px;
  width: 20%;
  position: relative;
}



/* for phone */
@media screen and (max-width: 450px){
  .mainHeadline{
    font-size: 45px;
  }

  .smallHeadline{
    font-size: 18px;
  }
  .problem1Text{
    font-size: 20px;
  }

  .problemText2{
    font-size: 13px;
  }
  .problemHolder{
    position: absolute;
    left: 25%;
    top: 11%;
    color: white;
  }

  .problemHolder2{

    position: absolute;
    left: 38%;
    top: 44%;
    color: white;
  }






  .whatAreWeTitle{
    font-size: 40px;
  }

  .whatAreWe{
    position: relative;
    font-size: 17px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon{
    font-size: 80px;
    margin-bottom: 15px;
  }


  .featureHolder{
    margin-top: 50px;
    width: 50%;

    position: relative;

    left: 50%;
    transform: translateX(-50%);

  }

  .howItWorks{
    position: relative;
    width: 100vw;
    height: 105vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .whyHolders{
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .mediumCircle{
    height: 200px;
    width: 200px;
    background: #446ccf;
    border-radius: 70px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .bigWhy{
    font-size: 30px;
  }
  .smallWhy{
    font-size: 20px;
  }
  .benefits{
    position: relative;
    width: 100vw;
    height: 170vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .nameHolderNew{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 65%;
  }


  .team{
    position: relative;
    width: 100vw;
    height: 170vh;
    overflow: hidden;
    text-align: center;
  }

}

/* for laptop */
@media screen and (max-width: 800px) and (min-width:451px){
  .mainHeadline{
    font-size: 50px;
  }

  .smallHeadline{
    font-size: 15px;
  }

  .problem1Text{
    font-size: 2.5vw;
  }

  .problemText2{
    font-size: 1.5vw;
  }
  .problemHolder{
    position: absolute;
    left: 10%;
    top: 14%;
    color: white;
  }

  .problemHolder2{

    position: absolute;
    left: 63%;
    top: 44%;
    color: white;
  }

  .circle1{
    background: #446ccf;
    position: absolute;
    height: 45vw;
    width: 45vw;
    top: 90%;
    left: 3%;
    border-radius: 25vw;
  }

  .circle2{
    background: #446ccf;
    position: absolute;
    height: 40vw;
    width: 40vw;
    top: 130%;
    right: 2%;
    border-radius: 25vw;
  }

  .whatAreWeTitle{
    font-size: 60px;
  }

  .whatAreWe{
    position: relative;
    font-size: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon{
    font-size: 80px;
    margin-bottom: 15px;
  }


  .featureHolder{
    margin-top: 50px;
    width: 50%;

    position: relative;

    left: 50%;
    transform: translateX(-50%);

  }

  .howItWorks{
    position: relative;
    width: 100vw;
    height: 105vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .whyHolders{
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mediumCircle{
    height: 200px;
    width: 200px;
    background: #446ccf;
    border-radius: 70px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .bigWhy{
    font-size: 30px;
  }
  .smallWhy{
    font-size: 20px;
  }

  .benefits{
    position: relative;
    width: 100vw;
    height: 170vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .nameHolderNew{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 65%;
  }


  .team{
    position: relative;
    width: 100vw;
    height: 170vh;
    overflow: hidden;
    text-align: center;
  }
}

/* for comptuer */
@media screen and (min-width: 801px){
  .mainHeadline{
    font-size: 5vw;
  }

  .smallHeadline{
    font-size: 35px;
  }

  .problem1Text{
    font-size: 3vw;
  }

  .problemText2{
    font-size: 1.5vw;
  }
  .problemHolder{
    position: absolute;
    left: 10%;
    top: 18%;
    color: white;
  }

  .problemHolder2{

    position: absolute;
    left: 63%;
    top: 48%;
    color: white;
  }

  .circle1{
    background: #446ccf;
    position: absolute;
    height: 45vw;
    width: 45vw;
    top: 90%;
    left: 3%;
    border-radius: 25vw;
  }

  .circle2{
    background: #446ccf;
    position: absolute;
    height: 40vw;
    width: 40vw;
    top: 130%;
    right: 2%;
    border-radius: 25vw;
  }

  .whatAreWeTitle{
    font-size: 60px;
  }

  .whatAreWe{
    position: relative;
    font-size: 2vw;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon{
    font-size: 80px;
    margin-bottom: 15px;
  }


  .featureHolder{
    margin-top: 50px;
    width: 50%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    position: relative;

    left: 50%;
    transform: translateX(-50%);

  }

  .howItWorks{
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .whyHolders{
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .mediumCircle{
    height: 20vw;
    width: 20vw;
    background: #446ccf;
    border-radius: 5vw;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .bigWhy{
    font-size: 3vw;
  }
  .smallWhy{
    font-size:2vw;
  }

  .benefits{
    position: relative;
    width: 100vw;
    height: 140vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
  }

  .nameHolderNew{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 65%;
  }


  .team{
    position: relative;
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    text-align: center;
  }



}
