.socialModal {
  position: relative;
  /* background-color: red; */
  top: 0px;
}

.socialHolder{
  /* background-color: red; */
  display: flex;
  height: 920px;
}

.socialLeftRight{
  /* display: flex; */

}

.socialLeftRight .socialArrowLeft {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 2%;
  font-size: 45px;
}

.socialLeftRight .socialArrowRight {
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  left: 67%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;
}

.socialModalRight {
  /* background-color: red; */
  /* padding: 20px; */
}

.socialListBox{
  /* background-color: red; */
  padding: 15px;
  border: 1px solid gainsboro;
  height: 275px;
  overflow: auto;

}

.socialListBox .socialListItem{
  /* background-color: red; */
  margin: 3px;
  padding-left: 15px;
  /* padding-top: 10px; */
  height: 140px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}

.socialListItemText{
  /* background-color: red; */
  position: relative;
  bottom: 0px;
}

.socialEventTitleContainer {
  /* position: absolute; */
  /* background-color: red; */
  display: flex;
  /* margin-top: 10px; */
}

.socialEventClock{
  height: 12px;
  margin-right: 5px;
}

.socialEventPin{
  height: 12px;
  margin-right: 3px;
}

.socialEventLocation{
  font-size: 13px;
  margin-left: 10px;
}

.socialEventTime{
  font-size: 13px;
}

.socialEventCapcity{
  /* background-color: red; */
  /* display: flex; */
}

 .socialEventTitle{
  /* background-color: red; */
  font-size:  25px;
}

.socialCommentBox {
  /* background-color: blue; */
  height: 70%;
}


.joinEventButton {
  background-color: limegreen;
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  top: 10%;
  left: 260px;
  width: 100px;
  height: 40px;
}

.joinEventButton .joinText{
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */

}

.viewEventButton{
  /* background-color: red; */
  cursor: pointer;
  position: absolute;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 20px;
  top: 50%;
  left: 260px;
  width: 100px;
  height: 40px;
}

.viewEventButton .viewText{
  /* background-color: red; */
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);

}

.socialPublicTag{
  position: relative;
  background-color: #F5F5F5;
  color: limegreen;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

.socialPrivateTag{
  position: relative;
  /* background-color: red; */
  background-color: #F5F5F5;
  color: red;
  border-radius: 10px;
  height: 20px;
  font-size: 12px;
  /* top:10%;
  left: 95%; */
  top: 10px;
  margin-left: 10px;
  padding-left: 3px;
  padding-right: 3px;

}

.socialHolder .socialCarousel{
  width: 1100px;
  height: 100%;
}

.socialHolder .socialCarouselZero {
  width: 215%;
  /* background-color: red; */
  border: 10px dashed gainsboro;
  text-align: center;
}

.socialHolder .socialCarouselZero .pictureFrame{
  /* background-color: red; */
  position: relative;
  top: 40%;
  font-size: 55px;
  color: gainsboro;
}

.socialHolder .socialCarouselSingle{
  width: 215%;
  height: 920px;
  /* background-color: red; */
  text-align: center;
  overflow: hidden;
}

.socialHolder .socialCarouselSingle .singlePic{
  /* position: relative; */
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 920px;
  /* width: 1100px; */
}

.picturesRoll{
  /* height:800px; */
  /* background-color: #000000cc; */
  overflow: hidden;
  height: 920px;


}

.picturesRoll .socialImages{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
  /* top: 50%; */
}
