.socialModal {
  position: relative;
  /* background-color: red; */
  top: 0px;
}

.socialHolder{
  /* background-color: red; */
  display: flex;
  height: 920px;
}

.socialLeftRight{
  /* display: flex; */

}

.socialLeftRight .socialArrowLeft {
  position: absolute;
  /* background-color: red; */
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  left: 2%;
  font-size: 45px;
}

.socialLeftRight .socialArrowRight {
  position: absolute;
  /* background-color: red; */
  bottom: 50%;
  transform: translateY(50%);
  left: 67%;
  /* right: 100%; */
  z-index: 3;
  font-size: 45px;
}



.socialHolder .socialCarousel{
  width: 1100px;
  height: 100%;
}

.socialHolder .socialCarouselZero {
  width: 215%;
  /* background-color: red; */
  border: 10px dashed gainsboro;
  text-align: center;
}

.socialHolder .socialCarouselZero .pictureFrame{
  /* background-color: red; */
  position: relative;
  top: 40%;
  font-size: 55px;
  color: gainsboro;
}

.socialHolder .socialCarouselSingle{
  width: 215%;
  height: 920px;
  /* background-color: red; */
  text-align: center;
  overflow: hidden;
}

.socialHolder .socialCarouselSingle .singlePic{
  /* position: relative; */
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 920px;
  /* width: 1100px; */
}

.picturesRoll{
  /* height:800px; */
  /* background-color: #000000cc; */
  overflow: hidden;
  height: 920px;


}

.picturesRoll .socialImages{
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%)
  /* top: 50%; */
}
