.uploadBox{
  /* margin-top: 100px; */
  text-align: center;
  width: 300px;
  height:300px
}

.ant-upload-text{
  position:relative;
  /* background-color: red; */
  font-size: 30px;
  top: 50%;
}

.changeProfilePic{
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-top: 100px;


}

.sideContainer{

  width:750px;
  height:450px;
  /* background-color: red; */
}


.uploadProfileText{
  margin-left: -150px;
  font-size: 30px;
  /* transform: translateX(-50%) */
}

.side1{
  width: 300px;
  height: 300px;
  display: inline-block;
  float:left;
  margin-left: 20px;
  margin-right: 50px;
  /* background-color: blue; */
}

.side2{
  display: inline-block;
  float:right;
  margin-top: 50px;
  margin-right: 50px;
  /* background-color: green; */
}

.uploadBox{

  width:300px;
  height:185px;
}


.uploadBox .plusOutlined{
  /* background-color: red; */
  font-size: 30px;
  position: absolute;
  top: 38%;
  right: 48%;
}
