.uploadBox{
  /* margin-top: 100px; */
  text-align: center;
  width: 300px;
  height:300px
}

.ant-upload-text{
  position:relative;
  /* background-color: red; */
  font-size: 30px;
  top: 50%;
}

.changeProfilePic{
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin-top:60px;
  overflow: none;
  border-radius: 10px;
  box-shadow:

  0 10px 50px rgba(0, 0, 0, 0.08);
  }

  .changeAvatar{
    
  }

  .fitPhoto{
    object-fit: cover;
    width: 300px;
    height: 300px;
  }

.sideContainer{
  padding: 20px;


  /* background-color: red; */
}


.uploadProfileText{
  margin-left: -125px;
  font-size: 25px;
  color:#1890ff;
  /* font-family: 'Segoe UI Regular'; */
  /* transform: translateX(-50%) */
}

.side1{
  width: 300px;
  height: 300px;
  display: inline-block;
  float:left;
  margin-left: 25px;
  margin-right: 25px;
  /* background-color: blue; */
}

.side2{
  display: inline-block;
  float:right;
  margin-top: 60px;
  margin-right: 50px;
  /* background-color: green; */
}

.uploadBox{

  width:300px;
  height:155px;
}


.uploadBox .plusOutlined{
  /* background-color: red; */
  font-size: 30px;
  position: absolute;
  top: 38%;
  right: 48%;
}
