
.test {
    padding: 0;
}


/* // if you want it to be wrapped
/* around 2 rows, change height to 570 */
.details-switch-demo {
  margin: 70px auto;

  height: 500px;
  background: #fff;

  overflow: hidden;
  position: relative;
}

.eventSyncForm .friendListCon .friendList{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;



}

.cardBorder{
border-radius: 25px;
}

.containImage img {
    object-fit: cover;
    width: 225px;
    height: 170px;
    margin-top: -1px;
    border-radius: 10px;
    left:50%;
    position: absolute;


}

.eventSyncForm .friendListCon .friendList .friendItem {


  background-color:#e6f7ff;
}

.eventSyncForm .friendListCon .friendList .friendItemHover{
  /* background-color: red; */
}

.eventSyncForm .friendListCon .friendList .friendItemHover:hover {
  background-color:#e6f7ff;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


.details-switch-demo-img-wrapper,
.details-switch-demo-text-wrapper {
  width: 50%;
  display: inline-block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.details-switch-demo-pic,
.details-switch-demo-map {
  position: absolute;
}

.details-switch-demo-pic {
  width: 220px;
  top: 100px;
  left: 40px;
}

.details-switch-demo-map {
  width: 250px;
  top: 60px;
  left: 30px;
}
.details-switch-demo-map.map2{
  width: 200px;
  left: 50px;
}

.details-switch-demo-text-wrapper .banner-anim-elem {
  padding: 40px;
}

.details-switch-demo-text-wrapper h1 {
  font-size: 18px;
  margin: 5px auto;
}

.details-switch-demo-text-wrapper em {
  height: 2px;
  width: 60px;
  border-radius: 2px;
  display: block;
}

.details-switch-demo-text-wrapper p {
  font-size: 12px;
  margin-top: 10px;
}

.details-switch-demo-wrapper .anticon{
  position: absolute;
  font-size: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

.details-switch-demo-wrapper .anticon-left{
  left: 5px;
  z-index: 999;
}

.details-switch-demo-wrapper .anticon-right{
  right: 5px;
}
@media screen and (max-width: 414px) {
  .details-switch-demo {
    transform: scale(.6) translateX(12px);
    transform-origin: left center;
  }
}
@media screen and (max-width: 375px) {
  .details-switch-demo {
    transform: scale(.55) translateX(7px);
  }
}
@media screen and (max-width: 320px) {
  .details-switch-demo {
    transform: scale(.46) translateX(12px);
  }
}
