.commentLook{
  border-radius: 25px;
  background: #f0f0f0;
  margin-top: 10px;
}
/* tile uploaded pictures */
.comment-action {
  padding-left: 8px;
  padding-top: -5px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}


.previewCommentListLook{
  font-weight: 400;
  color:black;
}


.previewCommentMain{
  display: flex;
  flex-direction: row;
  position: relative;


}


.previewCommentLeft{
  position: relative;
  width:2.25%;
  margin-right: 5px;
  /* background: blue; */
}

.previewCommentRight{

  width:95%;
  position: relative;
  /* background: red; */
}
.newsFeedCommentItem {
  margin-top: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: "Segoe UI Regular";
  /* background: red; */
  border-radius: 10px;
  background: #f0f0f0;
  margin-bottom: 5px;
}



 .newsFeedCommentAvatarSect{
  position: absolute;
  left:50%;
  top:30%;
  transform: translate(-50%,-50%);
  z-index:20;

}

.testCommentNewLook{
  height:5px;
  background: #1890ff;
  width:100%;

}
.newsFeedCommentItem .newsFeedCommentTextSect{
  width: 99%;

  line-height: 150%;
}
.newsFeedCommentItem .newsFeedCommentTextSect .newsFeedCommentNameTime{
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 75%;
  font-size: 12px;
}

.newsFeedCommentName{
  font-size: 12px;
  color:black;
  width:100%;
  font-family: "Segoe UI Regular";
}

.newsfeedCommentUserName{
  font-size: 11px;
  color:grey;
}
.newsFeedCommentItem .newsFeedCommentDate{
  /* background-color: red; */
  float:right;
  font-size: 12px;
  color:grey;
  /* top: 10%; */

}

.newsFeedCommentItem .newsFeedCommentBody{
  position: relative;
  line-height: 20%;
  /* background: blue; */

}

.LikeReplySize{
  font-family: "Segoe UI Regular";
  font-weight: 400;
  font-size: 11px;
}

.newsFeedCommentItem .newsFeedCommentBody .newsFeedCommentText{
  white-space: pre-wrap;
  position: relative;
  line-height: 125%;
  /* background: red; */
  width:100%;
  /* top: 50%; */

}
