.commentLook{
  border-radius: 25px;
  background: #f0f0f0;
  margin-top: 10px;
}
/* tile uploaded pictures */
.comment-action {
  padding-left: 8px;
  padding-top: -5px;
  cursor: 'auto';
}

[class*='-col-rtl'] .comment-action {
  padding-right: 8px;
  padding-left: 0;
}


.previewCommentListLook{
  font-weight: 400;
  color:black;
}


.newsFeedCommentItem {
  margin-top: 5px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: "Segoe UI Regular";
}
.newsFeedCommentItem .newsFeedCommentAvatarSect{

}
.newsFeedCommentItem .newsFeedCommentTextSect{
  width: 90%;
  margin-left: 10px;
}
.newsFeedCommentItem .newsFeedCommentTextSect .newsFeedCommentNameTime{
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 125%;
}

.newsFeedCommentName{
  font-size: 14px;
  font-family: "Segoe UI Regular";
}

.newsfeedCommentUserName{
  font-size: 12px;
  color:grey;
}
.newsFeedCommentItem .newsFeedCommentDate{
  /* background-color: red; */
  position: absolute;
  right: 6%;
  font-size: 12px;
  font-size: 12px;
  color:grey;
  /* top: 10%; */

}

.newsFeedCommentItem .newsFeedCommentBody{
  position: relative;
  /* background: blue; */

}

.newsFeedCommentItem .newsFeedCommentBody .newsFeedCommentText{
  word-break: break-all;
  position: relative;
  line-height: 125%;
  /* background: red; */
  width:100%;
  /* top: 50%; */

}
