
.custom-shape-divider-top-1591819966 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}


.custom-shape-divider-top-1591819966 .shape-fill {
    fill: #FFFFFF;
}
