.loginTitle{
  color:black;
  font-size: 30px;
  margin-top: 250px;
  margin-left: 200px;
  left:'20%';
  position:'absolute';
  font-weight: 400;
  /* background-color: red; */
}

.custom-shape-divider-top-1591819966 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1591819966 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1591819966 .shape-fill {
    fill: #FFFFFF;
}
