.example {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.custom-shape-divider-top-1591819966 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1591819966 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1591819966 .shape-fill {
    fill: #FFFFFF;
}
